#changelist table {
    width: 100%;

    td {
        vertical-align: middle;
    }

    thead {
        th {
            padding: 8px 10px;

            @media(max-width: 767px) {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            &.sortable {
                outline: none;

                &:not(.sorter-false):hover {
                    background-color: var(--selected-bg);
                }

                .toggle {
                    width: 14px;
                    height: 14px;
                    display: none;
                    background: url('/static/admin/img/sorting-icons.svg') no-repeat 0 0;
                    background-size: 14px auto;
                }

                &.tablesorter-headerAsc {
                    .toggle {
                        display: inline-block;
                        background-position: 0 -56px;
                    }
                }

                &.tablesorter-headerDesc {
                    .toggle {
                        display: inline-block;
                        background-position: 0 -28px;
                    }
                }
            }
        }
    }
}

select[name=payment] {
    background: var(--message-error-bg);

    &.paid {
        background: var(--message-success-bg);
    }

    @media(max-width: 767px) {
        height: 40px;
    }
}
