.pizza-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    &.paid {
        background-color: var(--success);
        color: var(--success-contrast);
    }

    &.unpaid {
        background-color: var(--danger);
        color: var(--danger-contrast);
    }
}
