{% extends "base.html" %}
{% load i18n frontpage_events %}

{% block title %}{% trans "Alumni" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Alumni" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "Alumni" %}</h1>
            <p>
                {% blocktrans trimmed %}
                    Thalia's Alumni committee, together with <a href="https://www.ru.nl/over-ons/organisatie/faculteiten/fnwi/alumni">Team Alumni FNWI</a>,
                    organizes several events each year. We welcome anyone who studies or has studied Computing Science or Information Sciences at Radboud University.
                    The main purpose of the events we organize is to relive moments from the past in an informal way and to compare the atmospheres of today and the past.
                    We hope to form a bridge between alumni and students. In addition, there is the possibility to speak with old friends again while enjoying a snack and a drink.
                    At the bottom of this page you can follow our agenda, indicating where and when these events take place and what they are exactly.
                    You can also register for the events on the regarding pages. Questions, comments or suggestions? We can be reached at <a href="mailto:alumni@thalia.nu">alumni@thalia.nu</a>.
                {% endblocktrans %}
            </p>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            {% render_frontpage_events events %}
        </div>
    </section>
{% endblock body %}
