{% load i18n %}
<div class="blog">
    <ul class="row">
        {% for next_event in upcoming %}
        <li class="post span6 has-overlay event">
            <a href="{{ next_event.event.get_absolute_url }}">
                <div class="post-inner">
                    <div class="post-body"><h2>{{ next_event.event.title }}</h2>

                        {% if next_event.current_user_registration is not None %}
                        {% if next_event.current_user_registration %}
                            <div class="event-indication" title="{% trans "Registered for this event" %}">
                                <div class="has-registration"></div>
                            </div>
                        {% else %}
                            <div class="event-indication" title="{%  trans "Not registered for this event" %}">
                                <div class="no-registration"></div>
                            </div>
                        {% endif %}
                        {% endif %}

                        <div class="post-date circle">
                            <div class="circle-border"></div>
                            <div class="circle-inner">{{ next_event.event.start.day }}<span>{{ next_event.event.start|date:"M" }}</span></div>
                        </div>
                        <div class="post-excerpt">
                            <p>{{ next_event.event.description|striptags }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
