{% load i18n bleach_tags alert %}
<section id="events-cards" class="page-section">
    <div class="container">
        <h1 class="section-title">{% trans "Upcoming events" %}</h1>
        <div class="row">
            {% if not events %}
                <div class="mt-4 col-12">
                    {% trans 'There are currently no events planned' as info_text %}
                    {% alert 'info' info_text dismissible=False %}
                </div>
            {% else %}
                {% for next_event in events %}
                <div class="col-md-6 col-lg-4">
                    <a href="{{ next_event.event.get_absolute_url }}">
                        <div class="card animated fadeIn">
                            <div class="card-body">
                                {% if next_event.current_user_registration is not None %}
                                    {% if next_event.current_user_registration %}
                                        <div class="event-indication"
                                             data-bs-toggle="tooltip"
                                             data-placement="top"
                                             title="{{ next_event.current_user_registration.text }}">
                                            <div class="{{ next_event.current_user_registration.class }}"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                <h6 class="card-date">{{ next_event.event.start|date:"d F Y" }}</h6>
                                <h5 class="card-title">{{ next_event.event.title }}</h5>
                                <p class="card-text">{{ next_event.event.caption|striptags|bleach|truncatechars:110 }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <p>
            {% url 'events:index' as events_index %}
            {% blocktrans trimmed %}
                Searching for another event? <a href="{{ events_index }}">Take a look at the entire agenda.</a>
            {% endblocktrans %}
        </p>
    </div>
</section>
