{% extends "base.html" %}
{% load i18n static compress personal_feed %}}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Calendar"|capfirst %} —
    {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Calendar"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block css_head %}
    {{ block.super }}
    {% compress css %}
        <link href="{% static "events/css/fullcalendar.core.css" %}"
              rel="stylesheet" type="text/css">
        <link href="{% static "events/css/fullcalendar.timegrid.css" %}"
              rel="stylesheet" type="text/css">
        <link href="{% static "events/css/fullcalendar.bootstrap.css" %}"
              rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block body %}
    <section class="page-section" id="events-index">
        <div class="container">
            <h1 class="section-title">
                {% trans "Calendar" %}

                <a href="{% url 'events:ical-'|add:LANGUAGE_CODE %}"
                   target="_blank"
                   class="btn btn-primary btn-first"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{% trans 'iCal feed (all events)' %}"
                >
                    <i class="fas fa-calendar-alt"></i>
                </a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'events:ical-'|add:LANGUAGE_CODE %}?u={% personal_feed %}"
                       target="_blank"
                       data-toggle="tooltip"
                       data-placement="top"
                       class="btn btn-primary btn-second"
                       title="{% trans 'iCal feed (personal)' %}"
                    >
                        <i class="fas fa-calendar-check"></i>
                    </a>
                {% endif %}
            </h1>

            <div id="calendar" data-default-date="{% spaceless %}
                    {% if upcoming_activity %}
                        {{ upcoming_activity.start|date:'Y-m-d' }}
                    {% else %}
                        {% now 'Y-m-d' %}
                    {% endif %}
                {% endspaceless %}"
                 data-authenticated="{{ request.user.is_authenticated|yesno:'true,false' }}"
                 data-show-unpublished="{{ perms.events.change_event|yesno:'true,false' }}"
                 data-language="{{ LANGUAGE_CODE }}"
            ></div>
        </div>
    </section>
{% endblock body %}

{% block js_body %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript"
                src="{% static "events/js/fullcalendar.locale.js" %}"></script>
        <script type="text/javascript"
                src="{% static "events/js/fullcalendar.core.js" %}"></script>
        <script type="text/javascript"
                src="{% static "events/js/fullcalendar.bootstrap.js" %}"></script>
        <script type="text/javascript"
                src="{% static "events/js/fullcalendar.daygrid.js" %}"></script>
        <script type="text/javascript"
                src="{% static "events/js/fullcalendar.timegrid.js" %}"></script>
        <script type="text/javascript"
                src="{% static "events/js/listview.js" %}"></script>
        <script type="text/javascript"
                src="{% static "events/js/main.js" %}"></script>
    {% endcompress %}
{% endblock js_body %}
