{% extends "base.html" %}
{% load i18n static bootstrap4 alert %}

{% block title %}{% trans "Registration" %} — {{ event.title }} — {% trans "Calendar" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Registration" %} — {{ event.title }} — {% trans "Calendar" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% blocktrans with title=event.title %}Registration for {{ title }}{% endblocktrans %}</h1>
            {% if messages %}
                {% for message in messages %}
                    {% alert message.tags message dismissible=True %}
                {% endfor %}
            {% endif %}

            <form method="post" class="col-lg-6 offset-lg-3">
                {% csrf_token %}

                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}

                <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary float-right"/>
            </form>
        </div>
    </section>
{% endblock %}
