.thimbus-page {
    .portfolio {
        .course-name-depiction-box {
            display: inline-block;
            width: 100%;
            height: 100px;
            position: relative;

        }

        .course-name-shorthand-box {
            position: absolute;
            bottom: 3px;
        }

        .course-name-shorthand-title {
            text-align: center;
            width: 100%;
            font-size: 70px;
            color: #e62272;
            white-space: nowrap;
        }

        .course-name-shorthand-subtitle {
            font-size: 40px;
        }

        p.course-cat {
            margin: 0 20px;
            margin-top: 6px;
            color: white;
        }

        .has-overlay .post-inner:hover .post-overlay-meta.course-overlay {
            top: 55px;
        }
    }

    #id_exam_date_day {
        width: 60px;
    }

    #id_exam_date_month {
        width: 33%;
    }

    #id_exam_date_year {
        width: 20%;
    }
}