.alert {
    border: 2px solid transparent;
    border-radius: 0px;
}

.alert-success {
    color: var(--success-contrast);
    background-color: var(--success);
    border-color: var(--success-hover);
}

.alert-success .close:hover {
    color: var(--success-hover);
}

.alert-info {
    color: var(--info-contrast);
    background-color: var(--info);
    border-color: var(--info-hover);
}

.alert-info .close:hover {
    color: var(--info-hover);
}

.alert-warning {
    color: var(--warning-contrast);
    background-color: var(--warning);
    border-color: var(--warning-hover);
}

.alert-warning .close:hover {
    color: var(--warning-hover);
}

.alert-danger, .alert-error {
    color: var(--danger-contrast);
    background-color: var(--danger);
    border-color: var(--danger-hover);
}

.alert-danger .close:hover, .alert-error .close:hover {
    color: var(--danger-hover);
}

.alert-dismissible .close {
    font-size: 21px;
    text-shadow: none;
    opacity: 1;
}

.alert-dismissible .close:hover {
    opacity: 0.8;
}
