.form-control, .form-select {
    color: var(--form-text);
    background: var(--form-background);
    font-weight: $regular;
    font-size: 14px;
    font-family: $primary-font;
    letter-spacing: $letter-spacing;
    border: 2px solid var(--form-border);
    border-radius: 0;
    padding: 3px 10px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    &:focus {
        border-color: var(--primary);
        box-shadow: none;
        color: var(--form-text);
        background: var(--form-background);
    }
}
