.form-control {
    color: $form-text;
    background: $form-background;
    font-weight: $regular;
    font-size: 14px;
    font-family: $primary-font;
    letter-spacing: $letter-spacing;
    border: 2px solid $form-border;
    border-radius: 0;
    padding: 3px 10px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    &:focus {
        border-color: $preset;
        box-shadow: none;
        color: $form-text;
        background: $form-background;
    }
}
