.nav-tabs {
    .nav-item {
        float: left;
        margin-top: 0;

        &.show {
            .nav-link {
                color: $preset;
            }
        }

        .nav-link {
            color: $nav-link-color;
            font-family: $header-font;
            font-size: 16px;
            line-height: 18px;
            padding: 10px 15px;
            text-transform: uppercase;
            border-top-right-radius: 0;
            border-top-left-radius: 0;

            &.active {
                color: $preset;
            }

            &:hover {
                color: $preset-hover;
            }

            &.mixitup-control-active {
                color: #E62272;
                border-color: #dee2e6 #dee2e6 #fff;
            }
        }

        .nav-select {
            color: $black;
            font-family: $header-font;
            font-size: 16px;
            line-height: 18px;
            padding: 4px 15px 0px 15px;
            text-transform: uppercase;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border: 1px solid transparent;

            &.active {
                color: #E62272;
            }
        }
    }

    &.no-border {
        border-bottom: none;
    }
}

.pagination {
    border-radius: 0;

    .page-item {
        .page-link {
            color: $preset;
            border-radius: 0;

            &:focus {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }

        &.active {
            .page-link {
                color: $white;
                background-color: $preset;
                border-color: $preset;
            }
        }
    }
}

.accordion.bordered {
    border: 1px solid rgba(0, 0, 0, 0.125);

    > .card:last-of-type .show .card-body {
        border-bottom: 0;
    }
}
