.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: var(--card-background-hover);

    .progress-bar {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background-color: var(--preset);

        @for $i from 1 through 100 {
            &.progress#{$i} {
                width: #{percentage($i/100)};
            }
        }
    }
}
