// Font and Styles
$primary-font: 'Open Sans', sans-serif;
$header-font: 'Oswald', sans-serif;
$regular: 400;
$bold: 700;
$light: 300;
$letter-spacing: 0px;
$fa-font-path: "../fonts";

// Theme Colors
$magenta: #E62272;
$magenta-shade: #CF1760;
$black: #111111;
$darkdark-grey: #212121;
$dark-grey: #444444;
$grey: #616161;
$light-grey: #dddddd;
$lightlight-grey: #f7f7f7;
$white: #ffffff;
$preset-transparent: RGBA(235, 88, 111, 0.7);

$green: #55c025;
$green-shade: #52a425;
$blue: #1e9ae6;
$blue-shade: #1e83cf;
$yellow: #ffc107;
$yellow-shade: #e0a800;
$red: #e62a17;
$red-shade: #ce2816;

$lustrum-gold: #dab34a;
$lustrum-gold-shade: #f4d974;

:root {
    --background-color: #{$black};
    --background-shade: #{$dark-grey};
    --background-shade-light: #{$darkdark-grey};
    --navbar-background-color: #{$black};

    --card-background: #{$darkdark-grey};
    --card-background-contrast: #{$white};
    --card-background-hover: #{$dark-grey};
    --card-background-hover-contrast: #{$white};

    --banner-background: #{$dark-grey};

    --form-background: #{$black};
    --form-background-disabled: #{$darkdark-grey};
    --form-border: #{$white};
    --form-text: #{$light-grey};

    --title-color: #{$white};
    --sub-title-color: #{$lightlight-grey};
    --text-color: #{$light-grey};
    --nav-link-color: #{$white};

    --footer-text-color: #{$white};
    --footer-text-color-hover: #{$lightlight-grey};

    --preset: #{$lustrum-gold};
    --preset-hover: #{$lustrum-gold-shade};
    --preset-contrast: #{$white};
    --preset-contrast-hover: #{$light-grey};
    --secondary: #{$light-grey};
    --secondary-hover: #{$lightlight-grey};
    --secondary-contrast: #{$black};
    --success: #{$green};
    --success-hover: #{$green-shade};
    --success-contrast: #{$white};
    --info: #{$blue};
    --info-hover: #{$blue-shade};
    --info-contrast: #{$white};
    --warning: #{$yellow};
    --warning-hover: #{$yellow-shade};
    --warning-contrast: #{$white};
    --danger: #{$red};
    --danger-hover: #{$red-shade};
    --danger-contrast: #{$white};
}
