// Font and Styles
$primary-font: 'Open Sans', sans-serif;
$header-font: 'Oswald', sans-serif;
$regular: 400;
$bold: 700;
$light: 300;
$letter-spacing: 0px;
$fa-font-path: "../fonts";

// Theme Colors
$magenta: #E62272;
$magenta-darker: #CF1760;
$black: #000000;
$darkdark-grey: #1d1d1d;
$grey-2: #444444;
$dark-grey: #616161;
$grey: #dddddd;
$light-grey: #dddddd;
$lightlight-grey: #f7f7f7;
$white: #ffffff;
$preset-transparent: RGBA(235, 88, 111, 0.7);

$green: #55c025;
$green-darker: #52a425;
$blue: #1e9ae6;
$blue-darker: #1e83cf;
$yellow: #ffc107;
$yellow-darker: #e0a800;
$red: #e62a17;
$red-darker: #ce2816;
