$background-color: $white;
$background-darker: $lightlight-grey;
$title-color: $black;
$sub-title-color: $grey;
$text-color: $grey-2;
$nav-link-color: $black;
$footer-text-color: $white;
$footer-text-color-hover: $lightlight-grey;
$table-clickable-hover-background: $light-grey;

$preset: $magenta;
$preset-hover: $magenta-darker;
$preset-contrast: $white;
$secondary: $black;
$secondary-hover: $darkdark-grey;
$secondary-contrast: $white;
$success: $green;
$success-hover: $green-darker;
$success-contrast: $white;
$info: $blue;
$info-hover: $blue-darker;
$info-contrast: $white;
$warning: $yellow;
$warning-hover: $yellow-darker;
$warning-contrast: $white;
$danger: $red;
$danger-hover: $red-darker;
$danger-contrast: $white;
