$background-color: $white;
$background-shade: $lightlight-grey;
$card-background: $lightlight-grey;
$card-background-hover: $light-grey;
$card-background-contrast: $black;
$banner-background: $light-grey;
$form-background: $white;
$form-border: $black;
$form-text: $grey-2;

$title-color: $black;
$sub-title-color: $grey-2;
$text-color: $grey-2;
$nav-link-color: $black;

$footer-text-color: $white;
$footer-text-color-hover: $lightlight-grey;

$preset: $magenta;
$preset-hover: $magenta-darker;
$preset-contrast: $white;
$secondary: $black;
$secondary-hover: $darkdark-grey;
$secondary-contrast: $white;
$success: $green;
$success-hover: $green-darker;
$success-contrast: $white;
$info: $blue;
$info-hover: $blue-darker;
$info-contrast: $white;
$warning: $yellow;
$warning-hover: $yellow-darker;
$warning-contrast: $white;
$danger: $red;
$danger-hover: $red-darker;
$danger-contrast: $white;
