$background-color: $black;
$background-shade: $dark-grey;
$background-shade-light: $darkdark-grey;
$navbar-background-color: $black;

$card-background: $darkdark-grey;
$card-background-contrast: $white;
$card-background-hover: $dark-grey;
$card-background-hover-contrast: $white;

$banner-background: $dark-grey;

$form-background: $black;
$form-background-disabled: $darkdark-grey;
$form-border: $white;
$form-text: $light-grey;

$title-color: $white;
$sub-title-color: $lightlight-grey;
$text-color: $light-grey;
$nav-link-color: $white;

$footer-text-color: $white;
$footer-text-color-hover: $lightlight-grey;

$preset: $magenta;
$preset-hover: $magenta-shade;
$preset-contrast: $white;
$preset-contrast-hover: $light-grey;
$secondary: $light-grey;
$secondary-hover: $lightlight-grey;
$secondary-contrast: $black;
$success: $green;
$success-hover: $green-shade;
$success-contrast: $white;
$info: $blue;
$info-hover: $blue-shade;
$info-contrast: $white;
$warning: $yellow;
$warning-hover: $yellow-shade;
$warning-contrast: $white;
$danger: $red;
$danger-hover: $red-shade;
$danger-contrast: $white;
