$background-color: var(--white);
$background-shade: var(--light-grey);
$background-shade-light: var(--lightlight-grey);
$navbar-background-color: var(--white);

$card-background: var(--lightlight-grey);
$card-background-contrast: var(--black);
$card-background-hover: var(--light-grey);
$card-background-hover-contrast: var(--magenta);

$banner-background: var(--light-grey);

$form-background: var(--white);
$form-background-disabled: var(--light-grey);
$form-border: var(--black);
$form-text: var(--dark-grey);

$title-color: var(--black);
$sub-title-color: var(--dark-grey);
$text-color: var(--dark-grey);
$nav-link-color: var(--black);

$footer-text-color: var(--white);
$footer-text-color-hover: var(--lightlight-grey);

$preset: var(--magenta);
$preset-hover: var(--magenta-shade);
$preset-contrast: var(--white);
$preset-contrast-hover: var(--light-grey);
$secondary: var(--black);
$secondary-hover: var(--darkdark-grey);
$secondary-contrast: var(--white);
$success: var(--green);
$success-hover: var(--green-shade);
$success-contrast: var(--white);
$info: var(--blue);
$info-hover: var(--blue-shade);
$info-contrast: var(--white);
$warning: var(--yellow);
$warning-hover: var(--yellow-shade);
$warning-contrast: var(--white);
$danger: var(--red);
$danger-hover: var(--red-shade);
$danger-contrast: var(--white);

@media (prefers-color-scheme: dark) {
  $background-color: var(--black);
  $background-shade: var(--dark-grey);
  $background-shade-light: var(--darkdark-grey);
  $navbar-background-color: var(--black);

  $card-background: var(--darkdark-grey);
  $card-background-contrast: var(--white);
  $card-background-hover: var(--dark-grey);
  $card-background-hover-contrast: var(--white);

  $banner-background: var(--dark-grey);

  $form-background: var(--black);
  $form-background-disabled: var(--darkdark-grey);
  $form-border: var(--white);
  $form-text: var(--light-grey);

  $title-color: var(--white);
  $sub-title-color: var(--lightlight-grey);
  $text-color: var(--light-grey);
  $nav-link-color: var(--white);

  $footer-text-color: var(--white);
  $footer-text-color-hover: var(--lightlight-grey);

  $preset: var(--magenta);
  $preset-hover: var(--magenta-shade);
  $preset-contrast: var(--white);
  $preset-contrast-hover: var(--light-grey);
  $secondary: var(--light-grey);
  $secondary-hover: var(--lightlight-grey);
  $secondary-contrast: var(--black);
  $success: var(--green);
  $success-hover: var(--green-shade);
  $success-contrast: var(--white);
  $info: var(--blue);
  $info-hover: var(--blue-shade);
  $info-contrast: var(--white);
  $warning: var(--yellow);
  $warning-hover: var(--yellow-shade);
  $warning-contrast: var(--white);
  $danger: var(--red);
  $danger-hover: var(--red-shade);
  $danger-contrast: var(--white);
}