{% extends 'admin/base_site.html' %}
{% load static compress %}
{% block extrahead %}
    {{ block.super }}
    {% if debug %}
        <link rel="icon" href="{% static "img/browser/icon-debug.png" %}">
    {% else %}
        <link rel="icon" href="{% static "img/browser/icon.png" %}">
    {% endif %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "admin/css/admin-main.scss" %}">
        <link rel="stylesheet" media="(prefers-color-scheme: dark)" type="text/x-scss" href="{% static "admin/css/admin-main-dark.scss" %}">
    {% endcompress %}
{% endblock %}
