# CODEOWNERS FOR CONCREXIT APPS
/website/members @Jorritboer 
/website/documents @LCKnol 
/website/mailinglists @wdoeland
/website/merchandise @LCKnol 
/website/thabloid @ColonelPhantom 
/website/partners @wdoeland 
/website/events @ColonelPhantom 
/website/newsletters @Jorritboer 
/website/registrations @se-bastiaan 
/website/payments @JobDoesburg 
/website/singlepages @pingiun 
/website/shortlinks @pingiun 
/website/sales @JobDoesburg 
/website/utils @pingiun 
/website/thaliawebsite @pingiun

# SPECIAL SERVER-RELATED CONFIG
/website/thaliawebsite/settings.py @svthalia/server  
/resources @svthalia/server  
/scripts @svthalia/server  
/nix @svthalia/server  
/*.nix @svthalia/server  
.dockerignore @svthalia/server  
Dockerfile @svthalia/server  

# ANYTHING WORKFLOW-RELATED
/.github @svthalia/illuminati
