{% load i18n %}
<div id="canvas-container">
    <a href="#undo"
       id="canvas-undo-btn"
       class="canvas-btn"
       data-toggle="tooltip"
       data-placement="top"
       title="{% trans 'Undo' %}"
    >
        <i class="fas fa-undo"></i>
    </a>
    <a href="#clear"
       id="canvas-clear-btn"
       class="canvas-btn"
       data-toggle="tooltip"
       data-placement="top"
       title="{% trans 'Clear' %}"
    >
        <i class="fas fa-eraser"></i>
    </a>
    <canvas
        id="id_signature_canvas"
        class="form-control {% if form.errors.signature %}is-invalid{% endif %}"
    >
    </canvas>
</div>
