website/media
website/static
website/filepond-temp-uploads
website/filepond-uploaded
website/static
website/db.sqlite3

**/Dockerfile
**/README.md
docs

.git
.github
.make
.venv
.vscode
.ruff_cache

infra/terraform
infra/env.*
**/.env


.codeclimate.yml
.coverage
.gitattributes
.gitignore
.mailmap
renovate.json

**/.DS_Store
**/__pycache__
*.pyc
