# Note that the syntax of this file is very different from .gitignore
# Notably, all paths are from the Dockerfile's location (e.g. specifying a
# single file name `foo` will not ignore `bar/baz/foo`).
# Furthermore, note that using `**` in a path appears to be broken at the
# moment of writing: https://github.com/docker/docker-py/issues/1117

# Be very careful about pushing locally built images to (semi)-public places.
# When in doubt, consider building from a fresh clone of the repository.

website/media
website/static
website/db.sqlite3
website/thaliawebsite/settings/localsettings.py

# These files would not be copied, but increase the size of the build context
.git
.tox
