website/media
website/static
website/db.sqlite3
infra/modules
scripts

**/Dockerfile
README.md
docs

# These files would not be copied, but increase the size of the build context
.git
.github
.make
.codeclimate.yml
.coverage
.gitattributes
.gitignore
.mailmap
renovate.json
