*.pyc
.*swp
*.sublime-*
*.bak
.pydevproject
.project
.settings
.idea/
.vscode/
.tox/
db.sqlite3

website/media/
website/static/

# Ignore local settings
website/thaliawebsite/settings/localsettings.py
website/.sass-cache/

# rope
.ropeproject/

# Coverage
.coverage

# venv from source_me.sh
venv/
