*.pyc
.*swp
*.sublime-*
*.bak
.pydevproject
.project
.settings
.idea/
.vscode/
.tox/
db.sqlite3
*.egg-info

website/media/
website/filepond-temp-uploads/
website/static/
covhtml/
.make

# make graphs
full_models_graph.png
partial_models_graph.png

# Ignore local settings
website/thaliawebsite/settings/localsettings.py
website/.sass-cache/

# rope
.ropeproject/

# Coverage
.coverage

# venv from source_me.sh
venv/

# macOS
.DS_Store
