* text=auto eol=lf

# Images should be treated as binary
*.png     binary
*.jpeg    binary
*.jpg     binary
*.ico     binary
*.mo      binary

# Font files
*.eot     binary
*.ttf     binary
*.woff2   binary
*.woff    binary

*.py      text
*.js      text
*.css     text
*.html    text
*.sql     text
*.po      text merge=binary
