*.pyc
.*swp
*.sublime-*
*.bak
.pydevproject
.project
.settings
.idea/
.vscode/
.tox/
db.sqlite3
*.egg-info

website/media/
website/static/
covhtml/
.make

# Ignore local settings
website/thaliawebsite/settings/localsettings.py
website/.sass-cache/

# rope
.ropeproject/

# Coverage
.coverage

# venv from source_me.sh
venv/

# nix
result
result-*
.pre-commit-config.yaml

# direnv
.envrc
.env*

# macOS
.DS_Store
