# Dit bestand regelt een mooie weergave in git shortlog.

# Who                                                Other identity

# somehow heeft Sébastiaan er drie nodig om ze samen te voegen
Sébastiaan Versteeg <se_bastiaan@outlook.com>        <sebastiaan@jupiter.local>
Sébastiaan Versteeg <se_bastiaan@outlook.com>        <s.versteeg@student.science.ru.nl>
Sébastiaan Versteeg <se_bastiaan@outlook.com>        <se_bastiaan@outlook.com>

Thom Wiggers <thom@thomwiggers.nl>                   <t.wiggers@student.science.ru.nl>
Jan Martens <jan-martens@hotmail.com>                <jan-martens@hotmail.com>
Luuk Scholten <info@luukscholten.com>                <l.scholten@student.science.ru.nl>
Joost Rijneveld <joost@joostrijneveld.nl>            <l.rijneveld@science.ru.nl>
