[tool.poetry]
name = "concrexit"
version = "25.3.0"
description = "New new Thalia website, now with extra Django."
authors = ["Thalia Technicie <www@thalia.nu>"]
license = "AGPL-3.0-or-later"

[tool.poetry.dependencies]
python = "^3.7"
django-localflavor = "3.0.1"
freezegun = "1.1.0"
bleach = "3.3.0"
django-tinymce4-lite = "1.8.0"
djangorestframework = "3.12.2"
django-ical = "1.7.1"
django-libsass = "0.8.0"
python-magic = "0.4.18"
Django = "3.1.7"
Pillow = "8.1.2"
django-compressor = "2.4.0"
psycopg2-binary = "2.8.6"
bcrypt = "3.2.0"
argon2_cffi = "20.1.0"
uWSGI = "2.0.19.1"
django-bootstrap4 = "2.3.1"
firebase-admin = "4.5.3"
sentry-sdk = "1.0.0"
django-sendfile2 = "0.5.1"

# docs requirements
recommonmark = { version = "0.7.1", optional = true }
sphinx = { version = "3.5.2", optional = true }
google-api-python-client = "2.0.2"
django-oauth-toolkit = "^1.3.2"
django-cors-headers = "^3.5.0"
PyYAML = "^5.3.1"
django-debug-toolbar = "^3.1.1"
pydocstyle = "^5.1.1"

[tool.poetry.extras]
docs = ["recommonmark", "sphinx"]

[tool.poetry.dev-dependencies]
django-template-check = "0.4.0"
factory_boy = "3.2.0"
pydenticon = "0.3.1"
Faker = "6.6.2"
coverage = {extras = ["toml"], version = "^5.0.3"}
black = "19.10b0"
pylint = "^2.6.0"
pylint-django = "^2.3.0"

[tool.coverage.run]
branch = true
source = ["website"]
omit = ["website/manage.py", "website/thaliawebsite/wsgi.py", "website/thaliawebsite/settings.py", "website/*/migrations/*", "website/*/test*"]

[tool.coverage.report]
precision = 2
skip_covered = true
show_missing = true
fail_under = 65.0

[tool.black]
exclude = '(/(\.eggs|\.git|\.tox)/|migrations)'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
