[tool.poetry]
name = "concrexit"
version = "25.3.0"
description = "New new Thalia website, now with extra Django."
authors = ["Thalia Technicie <www@thalia.nu>"]
license = "AGPL-3.0-or-later"

[tool.poetry.dependencies]
python = "^3.7"
django-localflavor = "~2.1"
freezegun = "~0.3.11"
bleach = "~3.1"
django-tinymce4-lite = "~1.7"
rcssmin = "~1.0"
djangorestframework = "~3.10"
django-ical = "~1.5"
django-libsass = "~0.7.0"
python-magic = "~0.4.15"
Django = "~2.2"
Pillow = "~6.1"
django_compressor = "~2.2"
psycopg2-binary = "~2.8"
bcrypt = "~3.1"
argon2_cffi = "~19.1"
uWSGI = "~2.0"
django-bootstrap4 = "~0.0.8"
firebase-admin = "~2.17"
sentry-sdk = "~0.10.0"
django-sendfile2 = "~0.4.2"

# docs requirements
recommonmark = { version = "~0.6.0", optional = true }
sphinx = { version = "~2.1", optional = true }

[tool.poetry.extras]
docs = ["recommonmark", "sphinx"]

[tool.poetry.dev-dependencies]
django-template-check = "~0.3.1"
factory_boy = "~2.12"
flake8 = "~3.7"
pydenticon = "~0.3.1"
pylint = "~2.3"
pylint-django = "~2.0"
Faker = "~2.0"
coverage = "~4.5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
