Django>=1.11,<2.0
django-localflavor>=1.4,<1.5
Pillow>=4.1.0,<4.2.0
django-compressor>=2.1,<3
django-sendfile<=0.4
django-template-check>=0.3.0  # This should be in dev-requirements somehow
bleach>=2.0.0,<2.1
-e git+https://github.com/romanvm/django-tinymce4-lite.git@ac1715f5f1a92c775af3720b89dfb8417c2e11f0#egg=django-tinymce4-lite
pytz
rcssmin>=1.0.6
djangorestframework>=3.6.2,<3.7
django-ical>=1.4,<2
django-libsass>=0.7,<1
django-cors-headers>=2.0.0,<2.1
python-magic>=0.4.13,<0.5
