.dashboard {
    #content {
        width: auto;
        .results {
            overflow-y: auto;
        }
    }

    .module table td a {
        display: inline-block;
        vertical-align: middle;

        &.member-phone, &.member-email {
            width: 16px;
            height: 16px;
        }

        &.member-phone {
            background: url('../images/phone-square.svg') no-repeat;
            padding-right: 2px;
        }

        &.member-email {
            background: url('../images/envelope-square.svg') no-repeat;
        }
    }
}

th.sortable {
    &:hover {
        background-color: #eee;
    }

    .toggle {
        width: 14px;
        height: 14px;
        display: none;
        background: url('/static/admin/img/sorting-icons.svg') no-repeat 0 0;
        background-size: 14px auto;
    }

    &.headerSortDown {
        background-color: #eee;
        .toggle {
            display: inline-block;
            background-position: 0 -56px;
        }
    }

    &.headerSortUp {
        background-color: #eee;
        .toggle {
            display: inline-block;
            background-position: 0 -28px;
        }
    }
}
