.dashboard {
    #content {
        width: auto;
        .results {
            overflow-y: auto;
        }
    }

    .module {
        table {
            td {
                vertical-align: middle;
                &.text-center {
                    text-align: center;
                }

                a {
                    display: inline-block;
                    vertical-align: middle;

                    &.member-phone, &.member-email {
                        width: 16px;
                        height: 16px;

                        @media(max-width: 767px) {
                            display: block;
                            width: 20px;
                            height: 20px;
                        }
                    }

                    &.member-phone {
                        background: url('../images/phone-square.svg') no-repeat;
                        padding-right: 2px;

                        @media(max-width: 767px) {
                            padding-right: 0;
                            margin-bottom: 2px;
                        }
                    }

                    &.member-email {
                        background: url('../images/envelope-square.svg') no-repeat;
                    }
                }
            }
        }

        select[name=payment] {
            background: var(--message-error-bg);
            color: var(--text-color);

            &.paid {
                background: var(--message-success-bg);
            }

            @media(max-width: 767px) {
                height: 40px;
            }
        }

        .button {
            display: inline-block;
            margin: 2px;
        }
    }
}

th.sortable {
    outline: none;

    &:hover {
        background-color: var(--selected-bg);
    }

    .toggle {
        width: 14px;
        height: 14px;
        display: none;
        background: url('/static/admin/img/sorting-icons.svg') no-repeat 0 0;
        background-size: 14px auto;
    }

    &.tablesorter-headerAsc {
        .toggle {
            display: inline-block;
            background-position: 0 -56px;
        }
    }

    &.tablesorter-headerDesc {
        .toggle {
            display: inline-block;
            background-position: 0 -28px;
        }
    }
}
