.fc-unthemed .fc-today {
    background: #fff9fc;
}

.fc-highlight {
    background: #f1bcdc;
}

.fc-state-default.fc-corner-left { /* non-theme */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fc-state-default.fc-corner-right { /* non-theme */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fc-state-default {
    background: black;
    color: white;
    border-radius: 0;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: black;
    background-color: #e62272;
}

.fc-state-disabled {
    color: white;
}

.fc-state-down,
.fc-state-active {
    background-color: #2F2F2F;
    color:white;
    background-image: none;
    box-shadow: none;
}

.fc-row .fc-content-skeleton tbody td, /* cells with events inside (so NOT the day number cell) */
.fc-row .fc-helper-skeleton tbody td {
    padding: 3px;
}

.fc-event {
    background-color:black;
    border-radius: 0px;
    border: none;
}

a.fc-event:active,
a.fc-event:hover {
    color: #fff;
    text-decoration: none;
}

.fc-event:hover a {
    color: white;
}

.fc-event .fc-content {
    padding: 2px 4px;
}

.fc-event .fc-bg {
    background:inherit;
    opacity:1;
    filter: alpha(opacity=25, enabled=false) !important; /* for IE */
}

.fc-time-grid-event .fc-content {
    padding: 4px;
}

@media (max-width:767px) {

    .fc-toolbar .fc-right {
        float: left;
        clear: both;
        margin-top: 10px;
    }

    .fc-toolbar .fc-right > * {
        float: left;
        clear: both;
        margin-left: 0;
        margin-top: 5px;
    }

}