.event-indication {
    float: right;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;

    .open-registration, .has-registration, .pending-registration {
        border-radius: 20px;
        width: 12px;
        height: 12px;
    }

    .open-registration {
        background-color: $grey;
    }

    .has-registration {
        background-color: var(--primary);
    }

    .pending-registration {
        background-color: $yellow;
    }
}

#events-cards {
    .card {
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        -ms-transition: 0.2s ease-in;
        transition: 0.2s ease-in;

        height: calc(100% - 15px);

        &:hover {
            background-color: var(--card-background-hover);
        }

        .card-date {
            color: var(--primary);
            margin-bottom: .7rem;
        }
    }
}

.frontpage-events {
    .list-group-item {
        .event-date {
            color: var(--primary);
        }

        .event-title {
            color: var(--list-background-contrast);
            width: calc(100% - 90px);
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            line-height: 16px;
        }
    }
}

#events-index {
    .fc-bootstrap .fc-today {
        background: var(--background-shade-light);
    }

    .fc-now-indicator {
        border-color: var(--primary);

        &.fc-now-indicator-arrow {
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
    }

    .fc-day-top {
        padding: 5px;
    }

    .fc-list-view {
        border: none;

        .card-header {
            .event-indication {
                width: 12px;
                height: 12px;
                border-radius: 20px;
                margin-right: 1rem;
                flex-shrink: 0;

                &.regular-event-registration-open {
                    background-color: $grey;
                }
                &.regular-event-has-registration {
                    background-color: $magenta;
                }
                &.regular-event-pending-registration {
                    background-color: $yellow;
                }
                &.regular-event-registration-closed {
                    background-color: transparent;
                }
                &.unpublished-event, &.unpublished-event:active, &.unpublished-event:hover {
                    background-color: rgba(255, 0, 0, 0.3);
                }

                &.external-event {
                    background-color: var(--secondary);
                }

                &.birthday-event {
                    background-color: var(--secondary);
                    &.honorary {
                        background-color: var(--primary);
                    }
                }
            }
        }
    }

    .fc-event {
        color: $white;
        background-color: $grey;
        border-radius: 0;
        border: none;
        overflow: hidden;
        transition-property: opacity;

        &.regular-event-registration-open {
            background-color: $grey;
        }
        &.regular-event-has-registration {
            background-color: var(--primary);
        }
        &.regular-event-pending-registration {
            background-color: $yellow;
            color: $black;
        }
        &.regular-event-registration-closed {
            background-color: #8a8a8a30;
            color: $grey;
        }

        &.unpublished-event, &.unpublished-event:active, &.unpublished-event:hover {
            background-color: rgba(255, 0, 0, 0.3);
            color: var(--secondary);
        }

        &.external-event {
            color: var(--secondary-contrast);
            background-color: var(--secondary);

            &:active, &:hover {
                color: var(--secondary-contrast);
            }
        }

        &.birthday-event {
            background-color: var(--secondary);
            color: var(--secondary-contrast);
            &.honorary {
                background-color: var(--primary);
                color: var(--secondary);
            }
        }

        .fc-content {
            padding: 5px;

            transition: all 300ms ease-in-out 0s;
            -moz-transition: all 300ms ease-in-out 0s;
            -webkit-transition: all 300ms ease-in-out 0s;
            -o-transition: all 300ms ease-in-out 0s;
        }

        .fc-bg {
            opacity: 0;
        }

        &:active, &:hover {
            .fc-content {
                opacity: 0.8;
            }
        }
    }
}

#page-content .page-section#events-registrations {
    padding-top: 0;
}

.event-slide {
    #page-header {
        height: 0;
        padding-bottom: 21.5%;
        position: relative;

        @media(max-width: 991px) {
            padding-bottom: 40%;
        }

        .image, #announcements-slider {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
