#events-cards {
    .card {
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        -ms-transition: 0.2s ease-in;
        transition: 0.2s ease-in;

        height: calc(100% - 15px);

        &:hover {
            background-color: $grey;
        }

        .card-date {
            color: $preset;
            margin-bottom: .7rem;
        }

        .event-indication {
            float: right;
            position: absolute;
            right: 1.25rem;
            top: 1.25rem;

            .no-registration, .has-registration {
                border-radius: 20px;
                width: 12px;
                height: 12px;
            }

            .no-registration {
                background-color: $dark-grey;
            }

            .has-registration {
                background-color: $preset;
            }
        }
    }
}

#events-index {
    .fc-bootstrap .fc-today {
        background: #fff9fc;
    }

    .fc-now-indicator {
        border-color: $dark-grey;

        &.fc-now-indicator-arrow {
            border-top-color: transparent;
            border-bottom-color: transparent;
        }
    }

    .fc-day-top {
        padding: 5px;
    }

    .fc-list-view {
        border: none;

        .card-header {
            .event-indication {
                width: 12px;
                height: 12px;
                border-radius: 20px;
                margin-right: 1rem;
                flex-shrink: 0;
            }
        }
    }

    .fc-event-dot {
        background-color: #616161;
    }

    .fc-event {
        background-color: #616161;
        border-radius: 0;
        border: none;
        overflow: hidden;
        transition-property: opacity;

        .fc-content {
            padding: 5px;

            transition: all 300ms ease-in-out 0s;
            -moz-transition: all 300ms ease-in-out 0s;
            -webkit-transition: all 300ms ease-in-out 0s;
            -o-transition: all 300ms ease-in-out 0s;
        }

        .fc-bg {
            opacity: 0;
        }

        &:active, &:hover {
            .fc-content {
                opacity: 0.8;
            }

            color: $white;
        }
    }
}

#page-content .page-section#events-registrations {
    padding-top: 0;
}
