<ul class="navbar-nav">
    {% for item in menu %}
        {% if not item.authenticated or request.user.is_authenticated %}
            {% url item.viewname as path %}
            {% if 'submenu' in item %}
                <li class="nav-item dropdown{% if item.active %} active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-controls="dropdown-{{ item.title }}" aria-expanded="false"
                       aria-label="Dropdown {{ item.title }}">
                        {{ item.title }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdown-{{ item.title }}">
                        {% for subitem in item.submenu %}
                            {% if not subitem.authenticated or request.user.is_authenticated %}
                                {% url subitem.viewname as path %}
                                <a href="{% if path %}{{ path }}{% else %}{{ subitem.url }}{% endif %}"
                                   target="_self"
                                   class="dropdown-item{% if subitem.active %} active{% endif %}">
                                    {{ subitem.title }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item{% if item.active %} active{% endif %}">
                    <a href="{% if path %}{{ path }}{% else %}{{ item.url }}{% endif %}"
                       target="_self" class="nav-link">
                        {{ item.title }}
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
