<ul>
    {% for item in submenu %}
      {% if not item.authenticated or request.user.is_authenticated %}
        {% url item.name as path %}
        <li {% if request.path == path %}class="nav-selected nav-path-selected"{% endif %}>
            <a href="{% if path %}{{ path }}{% else %}{{ item.url }}{% endif %}"
               target="_self"
               {% if request.path == path %}class="nav-selected nav-path-selected"{% endif %}>
                {{ item.title }}
            </a>
            {% if 'submenu' in item %}
                {% include 'menu/old-submenu.html' with submenu=item.submenu %}
            {% endif %}
        </li>
      {% endif %}
    {% endfor %}
</ul>
