<div class="navbar-user order-1 d-flex">
    <div class="btn-group dropdown">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-primary" title="Login"><i aria-hidden="true" class="fas fa-user"></i></a>
        {% else %}
            <button type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-haspopup="true" id="user-menu-dropdown-button"
                    title="User options">
                <i aria-hidden="true" class="fas fa-user pe-2"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="user-menu-dropdown-button">
                {% for section in menu %}
                    {% for item in section.submenu %}
                        <li>
                            <a class="dropdown-item {% if item.active %}active{% endif %}"
                            href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}

                    {% if not forloop.last %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}

                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
