SECRET_KEY=generate-some-random-characters

SENTRY_DSN=https://get.from.sentry.io/

GOOGLE_MAPS_API_KEY=AIzaGetFromGoogle
GOOGLE_MAPS_API_SECRET=getFromGoogle
GOOGLE_PLACES_API_KEY=AIzaAlsoGetFromGoogle

FIREBASE_CREDENTIALS=long-base64-encoded-string-of-json-containing-a-private-key

GSUITE_ADMIN_CREDENTIALS=long-base64-encoded-string-of-json-containing-a-private-key

OIDC_RSA_PRIVATE_KEY=long-base64-encoded-string-of-an-armored-private-key

AWS_DEFAULT_REGION=eu-west-1
AWS_CLOUDFRONT_KEY_ID=get-from-terraform-or-aws
AWS_CLOUDFRONT_KEY=long-base64-encoded-string-of-an-armored-private-key
