{% extends 'simple_page.html' %}
{% load i18n static compress thabloid_cards %}

{% block title %}{% trans "Thabloid" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Thabloid" %} —
    {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Thabloid" %}{% endblock %}
{% block section_tags %}id="thabloid-index"{% endblock %}

{% block page_content %}
    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a class="nav-link"
               href="#all"
               data-filter="all">
                {% trans "All Thabloids" %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="#year-{{ year }}"
               data-filter=".year-{{ year }}">
                {{ year }}-{{ year|add:1 }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="#year-{{ year|add:-1 }}"
               data-filter=".year-{{ year|add:-1 }}">
                {{ year|add:-1 }}-{{ year }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="#year-{{ year|add:-2 }}"
               data-filter=".year-{{ year|add:-2 }}">
                {{ year|add:-2 }}-{{ year|add:-1 }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="#year-{{ year|add:-3 }}"
               data-filter=".year-{{ year|add:-3 }}">
                {{ year|add:-3 }}-{{ year|add:-2 }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="#year-older"
               data-filter=".year-older">
                {% trans "Older" %}
            </a>
        </li>
    </ul>
    <div class="row">
        {% for thabloid in thabloids %}
            <div class="mix {% if thabloid.year >= year|add:-3 %}year-{{ thabloid.year }}{% else %}year-older{% endif %} col-6 col-md-3 my-3">
                {% thabloid_card thabloid %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block css_head %}
    {{ block.super }}
    <link href="{% static "css/fancybox.css" %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block js_body %}
    {{ block.super }}
    <script src="{% static "js/fancybox.umd.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/mixitup.min.js' %}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'thabloid/js/main.js' %}"></script>
    {% endcompress %}
{% endblock %}
