{% extends "admin/change_form.html" %}
{% load i18n admin_urls sass_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% sass_src 'admin/newsletters/css/forms.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block object-tools %}
    {{ block.super }}

    {% if newsletter %}
    <div class="submit-row newsletters-row">
        <a href="{% url 'newsletters:admin-send' pk=newsletter.pk %}" class="default button">{% trans "Send newsletter to members" %}</a>
        <a target="_blank" href="{% url 'newsletters:preview' pk=newsletter.pk %}" class="button">{% trans "Show preview" %}</a>
    </div>
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if newsletter %}
    <div class="submit-row newsletters-row">
        <a href="{% url 'newsletters:admin-send' pk=newsletter.pk %}" class="default button">{% trans "Send newsletter to members" %}</a>
        <a target="_blank" href="{% url 'newsletters:preview' pk=newsletter.pk %}" class="button">{% trans "Show preview" %}</a>
    </div>
    {% endif %}
{% endblock %}
