{% extends 'base.html' %}
{% load i18n thumbnail static %}

{% block title %}{% trans "Boards" %} — {{ block.super }}{% endblock %}

{% block body %}
<h1 id="boardTitle">
    <span id="title">{% trans "Boards" %}</span> <span class=
    "title-meta clearfix"><span><a class="back" href="#" id=
    "collectionButton"></a></span></span>
</h1>
<div>
    <p style="text-align: center;">
        {% trans 'Het gehele Thaliabestuur zet zich gedurende een collegejaar in om alle activiteiten van Thalia in goede banen te leiden, voor of achter de schermen. Bij vragen en opmerkingen kun je ze altijd persoonlijk aanspreken of <a href="mailto:info@thalia.nu">mailen</a>. Besturen van langer geleden (eerder dan 2001), zijn op <a href="/board/oud-besturen">deze pagina</a> te vinden.' %}
    </p>
</div>
<div class="portfolio"></div>
<script>
var boardPositions = [
        {% for board in boards %}"{{ board.name|slugify }}"{% if not forloop.last %}, {% endif %}{% endfor %}
];
var boardTitles = {
    {% for board in boards %}'{{ board.name|slugify }}': '{{ board.name|escapejs }}' {% if not forloop.last %}, {% endif %}{% endfor %}
};

var boardNr = '{{ first_board.name|slugify }}';
var boardMax = {{ boards|length }};
</script>
<div class="type-portfolio clearfix">
    <!-- portfolio single content -->
    <div id="bestuurCarousel">
        <div class="post-header">
            <div class="post-slider slider clearfix">
                <div class="caroufredsel_wrapper">
                    <ul class="slides" id="bestuurSlides">
                        {% for board in boards %}
                        <li>
                            <img alt="{{ board.name }}" src="{% thumbnail board.photo '1024x683' fit=False %}" width="1024" />
                        </li>
                        {% endfor %}
                   </ul>
                </div>
                <a class="slider-control-prev" href="#" id="carousel-prev"></a>
        `       <a class="slider-control-next" href="#" id="carousel-next"></a>
            </div>
        </div>
    </div>
    <!-- /portfolio single content -->

    <!-- related posts -->
    <div class="clearfix member-directory board-directory">
        <h1 class="midhead">
            {% trans "Board members" %}
        </h1>
        {% for board, members in boardmembers.items %}
        <ul class="row bestuur-list" id="{{ board|slugify }}" style="display:none;">
            {% for member in members%}
            <li class="post member-item span3 has-overlay {% if forloop.counter0|divisibleby:4 %}first-child{% endif %}">
                <a href="{{ member.get_absolute_url }}">
                <div class="post-inner">
                    <div class="inner-img">
                        <img alt="{{ member.display_name }}" class="u-avatar" height="620" 
                        {% if member.photo %}
                            src="{% thumbnail member.photo '620x620' %}"
                        {% else %}
                            src="{% static 'members/images/default-avatar.jpg' %}"
                        {% endif %}
                        width="620" />
                    </div>
                    {% if member.chair %}
                    <div class="ribbon-wrapper-basiskleur">
                        <div class="ribbon-basiskleur">
                            {% trans "Chair" %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="post-overlay">
                        <div class="post-overlay-meta">
                            <h2>
                                {{ member.display_name }}
                            </h2>
                            <p>
                                {{ membership.role }}
                            </p>
                        </div>
                    </div>
                    <div class="post-body avatar-subtitle">
                        {{ member.display_name }}
                    </div>
                </div></a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static 'committees/js/boards.js' %}" type="text/javascript"></script>
{% endblock %}
