{% extends "email/html_email.html" %}
{% block content %}
  <p>Dear {{ registration.member.profile.display_name }},</p>

  <p>Hereby a confirmation that you registered for the following even: '{{ event.title }}', on:  {{ registration.date }}.</p>
  <p>Since this event is full right now you have been put on the queue on position: {{ registration.queue_position }}.</p>
  <p>You will be contacted when you get a spot to participate in the event.</p>
  {% if event.cancel_deadline %}
    <p>If you would like to cancel this registration please do so before {{ event.cancel_deadline|date:"SHORT_DATETIME_FORMAT" }}.</p>
  {% endif %}
{% endblock %}
