{% extends "email/html_email.html" %}
{% block content %}
<p>Dear {{ registration.member.profile.display_name }},</p>

<p>Hereby a confirmation that you registered for the following even: '{{ event.title }}', on:  {{ registration.date }}.</p>
<p>Please inform the website on any other possible information needed from you to complete your registration.</p>
{% if event.cancel_deadline %}
<p>If you would like to cancel this registration please do so before {{ event.cancel_deadline }}.</p>
{% endif %}
{% endblock %}
