#partner-banners {
    background-color: var(--banner-background);
    height: 140px;
    overflow: hidden;

    .container {
        max-height: 100%;
        height: 100%;

        .row {
            max-height: 100%;
            height: 100%;

            .banner {
                max-height: 100%;
                height: 100%;
                text-align: center;
                padding: 2rem;
            }
        }

        a {
            display: block;
            max-height: 100%;
            height: 100%;
            transition: .4s ease-in-out 0s;

            .image {
                height: 100%;
                width: 100%;

                opacity: 0.4;
                filter: brightness(0);
                @media (prefers-color-scheme: dark) {
                    filter: contrast(0) brightness(100);
                }

                object-fit: contain;
            }

            &:hover {
                padding: .2rem;

                .image {
                    filter: brightness(1);
                    @media (prefers-color-scheme: dark) {
                        filter: contrast(1) brightness(1);
                    }
                    opacity: 1;
                }
            }
        }
    }
}

@media(max-width: 1023px) {
    #partner-banners {
        height: 90px;

        .container {
            .row {
                .banner {
                    padding: 1rem .5rem;
                }
            }
        }
    }
}

#partners-vacancies {
    .card {
        height: 100%;

        .card-top {
            position: relative;
            overflow: hidden;

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            .card-image {
                position: absolute;
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                justify-content: center;

                background-color: var(--banner-background);

                img {
                    width: auto;
                    height: auto;
                    max-width: 90%;
                    max-height: 90%;
                }
            }
        }
    }
}

.frontpage-vacancies {
    .list-group-item {
        .vacancy-company {
            color: var(--primary);
        }

        .vacancy-title {
            color: var(--list-background-contrast);
        }
    }
}
