{% load thumbnail %}
<section id="partner-banners">
    <div class="container">
        <div class="row">
            {% for partner in partners %}
                <div class="banner col-6 col-md-4 col-lg-3">
                    <a href="{% url "partners:partner" partner.slug %}">
                        <img class="image text-hide"
                             alt="Logo {{ partner.name }}"
                             src="{% if partner.alternate_logo %}{% thumbnail partner.alternate_logo thumb_size %}{% else %}{% thumbnail partner.logo thumb_size %}{% endif %}"
                        />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
