{% extends "base.html" %}
{% load i18n bleach_tags google_map_url thumbnail partner_cards static %}

{% block title %}{{ partner.name }} — {% trans "Partners" %} — {% trans "Career" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{{ partner.name }} — {% trans "Partners" %} — {% trans "Career" %} —
    {{ block.super }}{% endblock %}

{% block header_image %}{% spaceless %}
    {% if partner.site_header %}
        {{ partner.site_header.url }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endspaceless %}{% endblock header_image %}

{% block body %}
    <section class="page-section" id="partners-index">
        <div class="container">
            <h1 class="section-title">{{ partner.name }}</h1>

            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="{% thumbnail partner.logo "fit_medium" %}" alt="Logo {{ partner.name }}"/>

                    <h4 class="mt-4">{% trans "Address" %}</h4>
                    <p>
                        {{ partner.address }}<br/>
                        {% if partner.adress2 %}
                            {{ partner.address2 }}<br/>
                        {% endif %}
                        {{ partner.zip_code }}<br/>
                        {{ partner.city }}<br />
                        {% if partner.country != "NL" %}
                            {{ partner.get_country_display }}
                        {% endif %}
                    </p>

                    {% if partner.link %}
                        <h4>{% trans "Website" %}</h4>
                        <p>
                            <a href="{{ partner.link }}" rel="noopener" target="_blank">{{ partner.link }}</a>
                        </p>
                    {% endif %}

                    <p>
                        {% with partner.address|add:" "|add:partner.zip_code|add:" "|add:partner.city|add:" "|add:partner.get_country_display|urlize as location %}
                            <img src="{% google_map_url location zoom=10 size='400x300' %}"/>
                        {% endwith %}
                    </p>
                </div>
                <div class="col-12 col-md-8">
                    {{ partner.company_profile|bleach }}
                </div>
            </div>

            <div class="row">
                {% for obj in partner.images.all %}
                    <div class="col-4 col-md-3 my-3">
                        {% partner_image_card obj.image %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if vacancies.all|length > 0 %}
        <section class="page-section" id="partners-partner-vacancies">
            <div class="container">
                <h1 class="section-title">{% trans 'Vacancies' %}</h1>
                <div class="accordion bordered">
                    {% for vacancy in vacancies %}
                        <div class="card mb-0">
                            <div class="card-header collapsed" data-bs-toggle="collapse"
                                 data-bs-target="#vacancy-{{ vacancy.id }}">
                                <a href="#vacancy-{{ vacancy.id }}">{{ vacancy.title }}</a>
                            </div>
                            <div class="collapse" id="vacancy-{{ vacancy.id }}">
                                <div class="card-body">
                                    <p>{{ vacancy.description|bleach }}</p>
                                    {% if vacancy.link %}
                                        <a class="btn btn-primary" href="{{ vacancy.link }}" rel="noopener" target="_blank">
                                            {% trans "Learn more" %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock body %}

{% block css_head %}
    {{ block.super }}
    <link href="{% static "css/fancybox.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js_body %}
    {{ block.super }}
    <script src="{% static "js/fancybox.umd.js" %}"></script>
    <script type="text/javascript" src="{% static 'partners/js/main.js' %}"></script>
{% endblock %}
