{% extends 'base.html' %}
{% load i18n bleach_tags thumbnail partner_cards compress static %}

{% block title %}{% trans "Vacancies" %} — {% trans "Career" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Vacancies" %} — {% trans "Career" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section" id="partners-vacancies">
        <div class="container">
            <h1 class="section-title">{% trans "Vacancies" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    If you want to work besides studying or when you are (almost) graduated you can look here for
                    interesting vacancies. When you want to post a vacancy on this page as a company you can contact us
                    at <a href="mailto:collaboration@thalia.nu" rel="noopener" target="_blank">collaboration@thalia.nu</a>.
                {% endblocktrans %}
            </p>

            <ul class="nav nav-tabs mt-4">
                <li class="nav-item">
                    <a class="nav-link" data-filter="all" href="#">
                        {% trans "Everything" %}
                    </a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" data-filter=".category-{{ category.id }}" href="#">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="row">
                {% for vacancy in vacancies %}
                <div class="my-3 mix {% for cat in vacancy.categories.all %}category-{{ cat.id }} {% endfor %}">
                    {% vacancy_card vacancy %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if vacancies.all|length > 0 %}
        <section class="page-section" id="partners-partner-vacancies">
            <div class="container">
                <h1 class="section-title">{% trans 'All vacancies' %}</h1>
                <div class="accordion bordered">
                    {% for vacancy in vacancies %}
                        <div class="card mb-0">
                            <div class="card-header collapsed" data-toggle="collapse"
                                 data-target="#vacancy-{{ vacancy.id }}">
                                <a href="#vacancy-{{ vacancy.id }}">{{ vacancy.get_company_name }} | {{ vacancy.title }}</a>
                            </div>
                            <div class="collapse" id="vacancy-{{ vacancy.id }}">
                                <div class="card-body">
                                    <p>{{ vacancy.description|bleach }}</p>
                                    {% if vacancy.link %}
                                        <a class="btn btn-primary" href="{{ vacancy.link }}" rel="noopener" target="_blank">
                                            {% trans "Learn more" %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock body %}

{% block js_body %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/mixitup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'partners/js/main.js' %}"></script>
    {% endcompress %}
{% endblock %}
