{% extends "email/html_email.html" %}

{% block content %}
  Dear {{ name }},</br>

  <p>We currently have the following information about you in our database.
  Via this email we'd like to ask you to check the accuracy of this data.</p>
  <table style="font-family:Arial; font-size:15px; margin-left:auto; margin-right: auto; padding: 20px; width: 100%;">
    <tr>
      <td>Username</td>
      <td>{{ username }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ full_name }}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{ address_street }}{% if address_street2 %}<br>{{ address_street2 }}{% endif %}<br>{{ address_postal_code }}<br>{{ address_city }}<br>{{ address_country }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ phone_number }}</td>
    </tr>
    <tr>
      <td>Date of birth</td>
      <td>{{ birthday }}</td>
    </tr>
    <tr>
      <td>Email address</td>
      <td>{{ email }}</td>
    </tr>
    <tr>
      <td>Student number</td>
      <td>{{ student_number }}</td>
    </tr>
    <tr>
      <td>Cohort</td>
      <td>{{ starting_year }}</td>
    </tr>
    <tr>
      <td>Programme</td>
      <td>{{ programme}}</td>
    </tr>
  </table>

  <p>You can change this on <a href="{{ base_url }}{% url "members:edit-profile" %}">{{ base_url }}{% url "members:edit-profile" %}</a>. Unable to edit the incorrect information? Then send an email: info@thalia.nu.</p>
{% endblock %}
