{% extends "email/html_email.html" %}

{% block content %}
  Dear {{ name }},<br>

  <p>You're a study member of Thalia. This means that you'll be a member as long as you're enrolled in either a Computing Science or an Information Sciences programme.</p>

  <p>Are you still studying? Then you don't have to do anything at all!<br>
  Did you graduate or stop with your studies for any other reason? Then please send us an email so that we can update our administration: info@thalia.nu</p>

  <p>If you have any questions, then don't hesitate and send us an email.</p>
{% endblock %}
