{% extends "email/html_email.html" %}

{% block content %}
  Dear {{ name }},<br>

  <p>You have a study membership with Thalia. This means that you'll be a member as long as you're enrolled in either a Computing Science or an Information Sciences programme.</p>

  <p>Are you still studying? Then please follow the link in this URL <a href="{{ renewal_url }}">{{ renewal_url }}</a> to make sure you stay member for another year.<br>
  Did you graduate or stop with your studies for any other reason? Then you can simply ignore this message, and your membership will automatically end.</p><br>
  <p>Since the first of september has passed, your membership is technically over, however you can still prolong it by following the link, until we minimize your personal data. </p>
  <p>If you find this email after your profile has been minimized contact info@thalia.nu to prolong your membership anyway.</p>

  <p>If you have any questions, then don't hesitate and send us an email.</p>
{% endblock %}
