{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_modify %}

{% block title %}{% trans "Export email addresses of registrants" %} | {{ event.title }} | {{ site_title|default:_('Thalia site admin') }}{% endblock %}
{% block opengraph_title %}{% trans "Export email addresses of registrants" %} | {{ event.title }} | {{ site_title|default:_('Thalia site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Thalia administration') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'home'|capfirst %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='events' %}">{% trans 'events'|capfirst %}</a>
    &rsaquo; <a href="{% url 'admin:events_event_changelist' %}">{% trans 'events'|capfirst %}</a>
    &rsaquo; <a href="{% url 'admin:events_event_details' event.pk %}">{{ event.title }}</a>
    &rsaquo; {% trans "Export email addresses of registrants" %}
</div>
{% endblock %}

{% block content_title %}<h1>{% trans "Copy-pasteable email addresses of registrants:" %}</h1>{% endblock %}
{% block content %}
<div id="content-main">
    <p>
        <b>Please mind that you put these addresses in the 'bcc', not in 'to' or 'cc'.</b>
    </p>
    <p>
        {{ addresses | join:', ' }}
    </p>
    {% if no_addresses %}
    <p>
        {% trans "Some registrants were added manually, and are thus not included in the list above:" %}
    </p>
    <p>
        {{ no_addresses | join:'<br />' }}
    </p>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
