{% load i18n %}
<div class="results">
    <table id="result_list">
        <thead>
            <tr>
                <th scope="col">{% trans "name"|capfirst %} <span class="toggle"></span></th>
                <th scope="col">{% trans "registration date"|capfirst %} <span class="toggle"></span></th>
                {% if cancellations %}
                <th scope="col">{% trans "cancellation date"|capfirst %} <span class="toggle"></span></th>
                {% endif %}
                {% for field in fields %}
                <th scope="col">{{ field.name }} <span class="toggle"></span></th>
                {% endfor %}
                <th data-meta="{sorter: 'checkbox'}">{% trans "present"|capfirst %} <span class="toggle"></span></th>
                <th data-meta="{sorter: 'radio'}">{% trans "not paid"|capfirst %} <span class="toggle"></span></th>
                <th data-meta="{sorter: 'radio'}">{% trans "paid cash"|capfirst %} <span class="toggle"></span></th>
                <th data-meta="{sorter: 'radio'}">{% trans "paid card"|capfirst %} <span class="toggle"></span></th>
                {% if registrations|length > 0 and registrations.0.date_cancelled is not None %}
                    <th>{% trans "late"|capfirst %}</th>
                {% endif %}
                <th data-meta="{sorter: false}">
                {% if addlink != 0 %}
                    <a class="addlink" href="{% url 'admin:events_registration_add' %}?event_pk={{ event.pk }}&next={{ request.get_full_path | urlencode }}">{% trans "add"|capfirst %}</a>
                {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for registration in registrations %}
            <tr class="{% if forloop.first %}row1 {% endif %}">
                {% if registration.member %}
                <td>
                  <a href="{{ registration.member.get_absolute_url }}">{{ registration.member.get_full_name }}</a>
                  <a href="tel:{{ registration.member.profile.phone_number }}" title="{{ registration.member.profile.phone_number }}" class="member-phone"></a>
                  <a href="mailto:{{ registration.member.email }}" title="{{ registration.member.email }}" class="member-email"></a>
                </td>
                {% else %}
                <td>{{ registration.name }}</td>
                {% endif %}
                <td>{{ registration.date }}</td>
                {% if cancellations %}
                <td>{{ registration.date_cancelled }}</td>
                {% endif %}
                {% for field in registration.information_fields %}
                    {% if not field.value %}
                    <td></td>
                    {% elif field.field.type == 'checkbox' %}
                    <td>{{ field.value|yesno }}</td>
                    {% else %}
                    <td>{{ field.value }}</td>
                    {% endif %}
                {% endfor %}
                <td><input type="checkbox" {{ registration.present|yesno:'checked="checked",' }} data-id="{{ registration.id }}" class="present-check" /></td>
                <td><input type="radio" name="payment-{{ registration.id }}" {% if registration.payment == registration.PAYMENT_NONE %}checked="checked"{% endif %} data-value="{{ registration.PAYMENT_NONE }}" data-id="{{ registration.id }}" class="payment-radio" /></td>
                <td><input type="radio" name="payment-{{ registration.id }}" {% if registration.payment == registration.PAYMENT_CASH %}checked="checked"{% endif %} data-value="{{ registration.PAYMENT_CASH }}" data-id="{{ registration.id }}" class="payment-radio" /></td>
                <td><input type="radio" name="payment-{{ registration.id }}" {% if registration.payment == registration.PAYMENT_CARD %}checked="checked"{% endif %} data-value="{{ registration.PAYMENT_CARD }}" data-id="{{ registration.id }}" class="payment-radio" /></td>
                {% if registration.date_cancelled is not None %}
                    <td>{{ registration.is_late_cancellation|yesno }}</td>
                {% endif %}
                <td><a class="changelink" href="{% url 'admin:events_registration_change' registration.pk %}?next={{ request.get_full_path|urlencode }}">{% trans "change" %}</a></td>
            </tr>
            {% empty %}
            <tr class="model-events">
                {% trans "registered" as registered %}
                <td scope="row">{% blocktrans with verb=verb|default:registered %}Nobody {{ verb }} yet{% endblocktrans %}</td>
                {% for field in fields %}
                <td>&nbsp;</td>
                {% endfor %}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
