{% load i18n %}
<div class="results">
    <table id="result_list">
        <thead>
            <tr>
                <th scope="col">{% trans "name"|capfirst %} <span class="toggle"></span></th>
                <th scope="col"></th>
                {% if event.payment_required %}
                <th scope="col" class="sorter-payment">{% trans 'payment'|capfirst %} <span class="toggle"></span></th>
                {% endif %}
                <th scope="col" class="sorter-checkbox">{% trans "present"|capfirst %} <span class="toggle"></span></th>
                <th scope="col" class="sorter-sortval">{% trans "registration date"|capfirst %} <span class="toggle"></span></th>
                {% if cancellations %}
                <th scope="col" class="sorter-sortval">{% trans "cancellation date"|capfirst %} <span class="toggle"></span></th>
                {% endif %}
                <th scope="col" class="sorter-sortval">{% trans "remarks"|capfirst %} <span class="toggle"></span></th>
                {% for field in fields %}
                <th scope="col">{{ field.name }} <span class="toggle"></span></th>
                {% endfor %}
                {% if registrations|length > 0 and registrations.0.date_cancelled is not None %}
                    <th>{% trans "late"|capfirst %}</th>
                {% endif %}
                <th class="sorter-false">
                {% if addlink != 0 %}
                    <a class="addlink" href="{% url 'admin:events_eventregistration_add' %}?event_pk={{ event.pk }}&next={{ request.get_full_path | urlencode }}">{% trans "add"|capfirst %}</a>
                {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for registration in registrations %}
            <tr
                class="{% if forloop.first %}row1 {% endif %}"
                data-url="{% url "api:v2:admin:events:event-registration-detail" registration.event.id registration.id %}"
                data-payable-url="{% url "api:v2:admin:payments:payments-payable-detail" "events" "eventregistration" registration.id %}"
            >
                {% if registration.member %}
                <td>
                  <a href="{{ registration.member.get_absolute_url }}">{{ registration.member.get_full_name }}</a>
                </td>
                <td>
                  <a href="tel:{{ registration.member.profile.phone_number }}" title="{{ registration.member.profile.phone_number }}" class="member-phone"></a>
                  <a href="mailto:{{ registration.member.email }}" title="{{ registration.member.email }}" class="member-email"></a>
                </td>
                {% else %}
                <td>{{ registration.name }}</td>
                <td></td>
                {% endif %}
                {% if event.payment_required %}
                <td>
                    <select name="payment"
                            data-none="no_payment"
                            {% if registration.payment %}class="paid"{% endif %}>
                        <option value="no_payment"
                                {% if not registration.payment %}selected{% endif %}>{% trans 'None' %} {% if registration.special_price %}(€ {{ registration.special_price }}) {% endif %}</option>
                        <option value="{{ payment.CARD }}"
                                {% if registration.payment and registration.payment.type == payment.CARD %}selected{% endif %}>{% trans 'Card' %} {% if registration.special_price %}(€ {{ registration.special_price }}) {% endif %}</option>
                        <option value="{{ payment.CASH }}"
                                {% if registration.payment and registration.payment.type == payment.CASH %}selected{% endif %}>{% trans 'Cash' %} {% if registration.special_price %}(€ {{ registration.special_price }}) {% endif %}</option>
                        <option value="{{ payment.TPAY }}" disabled
                                {% if registration.payment and registration.payment.type == payment.TPAY %}selected{% endif %}>{% trans 'Thalia Pay' %} {% if registration.special_price %}(€ {{ registration.special_price }}) {% endif %}</option>
                        <option value="{{ payment.WIRE }}"
                                {% if registration.payment and registration.payment.type == payment.WIRE %}selected{% endif %}>{% trans 'Wire' %} {% if registration.special_price %}(€ {{ registration.special_price }}) {% endif %}</option>
                    </select>
                </td>
                {% endif %}
                <td class="text-center"><input type="checkbox" {{ registration.present|yesno:'checked="checked",' }} data-id="{{ registration.id }}" class="present-check" /></td>
                <td data-sortval="{{ registration.date|date:'c' }}">{{ registration.date }}</td>
                {% if cancellations %}
                <td data-sortval="{{ registration.date_cancelled|date:'c' }}">{{ registration.date_cancelled }}</td>
                {% endif %}
                <td data-sortval="{{ registration.remarks }}">{% if registration.remarks %}{{ registration.remarks }}{% endif %}</td>
                {% for field in registration.information_fields %}
                    {% if not field.value and not field.field.type == 'boolean' %}
                    <td></td>
                    {% elif field.field.type == 'boolean' %}
                    <td>{{ field.value|yesno }}</td>
                    {% else %}
                    <td>{{ field.value }}</td>
                    {% endif %}
                {% endfor %}
                {% if registration.date_cancelled is not None %}
                    <td>{{ registration.is_late_cancellation|yesno }}</td>
                {% endif %}
                <td><a class="changelink" href="{% url 'admin:events_eventregistration_change' registration.pk %}?next={{ request.get_full_path|urlencode }}">{% trans "change" %}</a></td>
            </tr>
            {% empty %}
            <tr class="model-events">
                {% trans "registered" as registered %}
                <td scope="row">{% blocktrans with verb=verb|default:registered %}Nobody {{ verb }} yet{% endblocktrans %}</td>
                {% for field in fields %}
                <td>&nbsp;</td>
                {% endfor %}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
