.accept {
    background-color: #23ba28;
    &:hover, &:active {
        background-color: #22a434;
    }
}

.reject {
    background-color: #ba2121;
    &:hover, &:active {
        background-color: #a41515;
    }
}
