{% extends 'education/base.html' %}
{% load i18n fieldtype bootstrap4 %}

{% block title %}{% trans "Submit Exam" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Submit Exam" %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="text-center section-title">
                {% trans "Submit Exam" %}
            </h1>

            {% if saved %}
                <div class="alert alert-success alert-dismissible">
                    {% trans "Exam submitted successfully." %}
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data"
                  class="col-lg-6 offset-lg-3">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {% for field in form %}
                    {% bootstrap_field field show_help=False %}
                {% endfor %}

                <div class="form-group">
                    <input type="submit" value="{% trans "submit"|capfirst %}"
                           class="btn btn-primary float-right">
                </div>
            </form>
        </div>
    </section>
{% endblock %}
