{% extends 'education/base_small.html' %}
{% load i18n fieldtype django_bootstrap5 alert %}

{% block title %}{% trans "Submit Summary" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Submit Summary" %} —
    {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Submit Summary" %}{% endblock %}

{% block page_content %}
    {% if form.errors %}
        {% bootstrap_form_errors form %}
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="col-12">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% for field in form %}
            {% bootstrap_field field show_help=False %}
        {% endfor %}
        <div class="form-row">
            <input type="submit" value="{% trans "submit"|capfirst %}" class="btn btn-primary float-end">
        </div>
    </form>
{% endblock %}
