{% extends 'education/base.html' %}
{% load i18n %}

{% block title %}{% trans "Book Sale" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Book Sale" %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section" id="education-booksale">
        <div class="container">
            <h1 class="section-title">{% trans "Book Sale" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    Thalia's book sale goes through Studystore. You can find
                    the personalized webshop
                    <a href="https://betabooks.itdepartment.nl/en"
                       target="_blank" rel="noopener">here</a>.
                    As a member of Thalia you receive a 15% discount on study
                    books ordered at this webshop.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                    If you cannot find a certain book or you find another
                    error, please contact the board at
                    <a href="mailto:books@thalia.nu" rel="noopener" target="_blank">books@thalia.nu</a>.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}}
