{% extends 'education/base.html' %}
{% load i18n %}

{% block title %}{% trans "Course overview" %} — {{ block.super }}{% endblock %}

{% block body %}
    <h1 class="main-title">{% trans "Course overview" %}</h1>
    <p class="text-center">
        {% blocktrans trimmed %}
        This overview contains all courses for which Thalia has exams, summaries or other documents. Select a course to find out more.<br/>
        Can't find a course? Let the <a href="mailto:educacie@thalia.nu">education committee</a> know.
        {% endblocktrans %}
    </p>

    <div class="portfolio gallery portfolio-isotope">

        <div class="portfolio-filter tabs-wrapper tabs-centered clearfix">
            <ul class="tabs">
                <li class="current">
                    <a href="#">
                        {% trans "all courses"|upper %}
                    </a>
                </li>
                {% for category in categories %}
                    <li data-filter="{{ category.name }}">
                        <a href="#">
                            {{ category.name|upper }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <ul class="portfolio-posts row isotope">

            {% for course in courses %}
                <li class="post span3 has-overlay isotope-item"
                    data-filter="{% for category in course.categories.all %}{{ category.name }}{% if not forloop.last %},{% endif %}{% endfor %}">
                    <a href="{{ course.get_absolute_url }}">
                        <span class="post-inner">
                            <span class="post-header">
                                <div class="course-name-depiction-box">
                                    <p class="course-name-shorthand-box course-name-shorthand-title">
                                        {{ course.shorthand }}
                                    </p>
                                </div>
                            </span>
                            <span class="post-body">
                                <h2>{{ course.name }}</h2>
                            </span>
                            <span class="post-overlay">
                                <span class="post-overlay-meta course-overlay">
                                    <h2>{{ course.name }}</h2>
                                        <p class="course-cat">
                                            {% for category in course.categories.all %}
                                                {{ category.name }}{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                        </p>
                                </span>
                            </span>
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}