{% load i18n bleach_tags alert %}
<div class="frontpage-summaries">
    <h1 class="section-title">{% trans "Recent course summaries" %}</h1>

    {% if not summaries %}
        <div class="mt-4">
            {% trans 'There are currently no course summaries' as info_text %}
            {% alert 'info' info_text dismissible=False %}
        </div>
    {% else %}
        <div class="list-group">
            {% for summary in summaries %}
                <a class="list-group-item py-3"
                   href="{{ summary.course.get_absolute_url }}">
                    <span class="summary-course-title me-3">{{ summary.course.name }}</span>
                    <span class="summary-name" title="{{ summary.name }}">{{ summary.name }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <p class="mt-3">
        {% url 'education:courses' as courses_index %}
        {% blocktrans trimmed %}
            <a href="{{ courses_index }}">Check out the courses page</a>
            for more.
        {% endblocktrans %}
    </p>
</div>
