{% extends "email/board_email.html" %}

{% block content %}
  Hi Paparazcie,<br>

  <p>Here is your weekly overview of promotion requests.</p>

  <p>
    {% if upcoming_requests %}
      Requests to be finished:
    {% else %}
      No upcoming requests
    {% endif %}
  </p>

  {% for request in upcoming_requests %}
    <p>
      {% if request.event %}Event: {{ request.event.title }}<br>{% endif %}
      Promotion channel: {{ request.channel }}<br>
      Publish date: {{ request.publish_date }}<br>
      Remarks: {{ request.remarks }}<br>
    </p>
  {% endfor%}

  <p>
    {% if new_requests%}
      New requests:
    {% else %}
      No new requests
    {% endif %}
  </p>

  {% for request in new_requests %}
    <p>
      {% if request.event %}Event: {{ request.event.title }}<br>{% endif %}
      Promotion channel: {{ request.channel }}<br>
      Publish date: {{ request.publish_date }}<br>
      Remarks: {{ request.remarks }}<br>
    </p>
  {% endfor%}
{% endblock %}
