
@font-face {
  font-family: 'GillSansMT-Condensed';
  src: url('GillSansMT-Condensed.eot?#iefix') format('embedded-opentype'),  url('GillSansMT-Condensed.woff') format('woff'), url('GillSansMT-Condensed.ttf')  format('truetype'), url('GillSansMT-Condensed.svg#GillSansMT-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
