{% extends "admin/change_form.html" %}
{% load i18n admin_urls static compress %}

{% block extrastyle %}
    {{ block.super }}
    {% compress css %}<link rel="stylesheet" type="text/x-scss" href="{% static 'admin/pushnotifications/css/forms.scss' %}" />{% endcompress %}
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if message and not message.sent %}
    <div class="submit-row pushnotifications-row">
        <a href="{% url 'pushnotifications:admin-send' pk=message.pk %}" class="default button">{% trans "Send message" %}</a>
    </div>
    {% endif %}
{% endblock %}
