{% extends "admin/change_form.html" %}
{% load i18n admin_urls static sass_tags%}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% sass_src 'admin/pushnotifications/css/forms.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if message and not message.sent %}
    <div class="submit-row pushnotifications-row">
        <a href="{% url 'pushnotifications:admin-send' pk=message.pk %}" class="default button">{% trans "Send message" %}</a>
    </div>
    {% endif %}
{% endblock %}
