{% load i18n static bootstrap4 %}
<script>
$(function () {
$("[data-toggle=popover]").popover();
})
</script>
{% if member.profile.tpay_allowed %}
    <form action="{% url 'payments:payment-process' %}" method="post">
        {% csrf_token %}
        <input
            type="hidden"
            name="model_name"
            value="{{ model_name }}"
        />
        <input
            type="hidden"
            name="app_label"
            value="{{ app_label }}"
        />
        <input
            type="hidden"
            name="payable"
            value="{{ pk }}"
        />
        <input
            type="hidden"
            name="next"
            value="{{ redirect_to }}"
        />
        {% if not member.tpay_enabled %}
            <span data-trigger="hover" data-toggle="popover" data-placement="right"
                  data-html="true" data-content="To start using Thalia Pay, you need to <a href='{% url 'payments:bankaccount-add' %}' target='_blank'>sign a direct debit mandate</a>."
            >
                <input
                type="submit"
                disabled="disabled"
                class="btn btn-primary"
                style="pointer-events: none;"
                value="{% trans "Pay with Thalia Pay" %}"
                />
            </span>
        {% else %}
            <input
                type="submit"
                class="btn btn-primary"
                value="{% trans "Pay with Thalia Pay" %}"
                />
        {% endif %}
    </form>
{% endif %}
