{% load i18n static %}
{% if payable.payment_amount > 0 %}
    {% if member.tpay_allowed and payable.tpay_allowed %}
        <form name="tpay-payment-form" action="{% url 'payments:payment-process' %}" method="post">
            {% csrf_token %}
            <input
                type="hidden"
                name="model_name"
                value="{{ model_name }}"
            />
            <input
                type="hidden"
                name="app_label"
                value="{{ app_label }}"
            />
            <input
                type="hidden"
                name="payable"
                value="{{ payable.pk }}"
            />
            <input
                type="hidden"
                name="next"
                value="{{ redirect_to }}"
            />
            {% if not member.tpay_enabled %}
                <span data-toggle="tooltip" data-placement="right" data-delay='{"show":"100", "hide":"2000"}' tabindex="0" data-trigger="hover focus" style="display: inline-block"
                     data-html="true" title="To start using Thalia Pay, you need to <a href='{% url 'payments:bankaccount-add' %}' target='_blank'>sign a direct debit mandate</a>."
                >
                    <input
                    type="submit"
                    disabled="disabled"
                    class="btn btn-primary"
                    style="pointer-events: none;"
                    value="{% trans "Pay with Thalia Pay" %}"
                    />
                </span>
            {% else %}
                <input
                    type="submit"
                    class="btn btn-primary"
                    value="{% trans "Pay with Thalia Pay" %}"
                    />
            {% endif %}
        </form>
    {% endif %}
{% endif %}
