{% extends "email/html_email.html" %}

{% block content %}
  Dear {{ full_name }},<br>

  <p>Our records show that you have become an active member of Thalia. Awesome!</br>
  This means you now get access to Thalia's G Suite organisation.</p>

  <p>Your username is:   {{ username }}</br>
  Your password is:   {{ password }}</p>

  <p>You can find the login page here: <a href="https://accounts.google.com/">https://accounts.google.com/</a>.</br>
  More information about G Suite is available here: <a href="https://gsuite.members.thalia.nu/">https://gsuite.members.thalia.nu/</a>.</p>
{% endblock %}

