{% extends "base.html" %}
{% load i18n static compress %}

{% block title %}{{ event.title }} — {% trans "pizzas"|capfirst %} —
    {{ block.super }}{% endblock %}
{% block opengraph_title %}{{ event.title }} — {% trans "pizzas"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section" id="events-detail">
        <div class="container">
            <h1 class="text-center section-title">
                {% blocktrans trimmed with title=event.title %}
                    Orders for {{ title }}
                {% endblocktrans %}
            </h1>

            <div class="mb-3 row">
                {% if perms.pizzas.change_product %}
                    <div class="col-12 col-md-4 my-1">
                        <a href="{% url 'admin:pizzas_product_changelist' %}"
                           class="btn btn-primary d-block">
                            {% trans "All products" %}
                        </a>
                    </div>
                {% endif %}
                {% if perms.pizzas.change_pizzaevent %}
                    <div class="col-12 col-md-4 my-1">
                        <a href="{% url 'admin:pizzas_pizzaevent_changelist' %}"
                           class="btn btn-primary d-block">
                            {% trans "All events" %}
                        </a>
                    </div>
                {% endif %}
                <div class="col-12 col-md-4 my-1">
                    <a href="{% url 'pizzas:overview' event.pk %}"
                       class="btn btn-primary d-block">
                        {% trans "Overview" %}
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">{% trans "Name" %}</th>
                        <th scope="col">{% trans "Product" %}</th>
                        <th class="paid-title"
                            scope="col">{% trans "Paid" %}</th>
                        <th class="no-sort"><i class="fas fa-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="align-middle">
                                {{ order.member_name }}
                            </td>
                            <td class="align-middle">
                                {{ order.product }}
                            </td>
                            <td class="align-middle">
                                <a
                                    class="btn btn-{{ order.paid|yesno:'success,danger' }} paid-button"
                                    data-paid="{{ order.paid|yesno:'true,false' }}"
                                    data-id="{{ order.pk }}">
                                    {% if order.paid %}
                                        {% trans 'Yes' %}
                                    {% else %}
                                        {% trans 'No' %}
                                    {% endif %}
                                </a>
                            </td>
                            <td class="align-middle">
                                <form class="d-inline-block"
                                      method="post"
                                      action="{% url 'pizzas:delete-order' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="order"
                                           value="{{ order.pk }}"/>
                                    <button type="submit"
                                            class="btn btn-primary btn"
                                            onclick="return confirm('{% trans "Are you sure you want to delete this order?" %}');">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="model-events">
                            <th colspan="4">{% trans "Nobody ordered yet" %}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_body %}
    {{ block.super }}
    {% compress js %}
    <script type="text/javascript"
            src="{% static "pizzas/js/jquery.tablesort.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "pizzas/js/main.js" %}"></script>

    <script type="text/javascript">
        var csrf_token = '{{ csrf_token }}';
    </script>
    {% endcompress %}
{% endblock %}
