{% extends "base.html" %}

{% load static i18n fieldtype django_bootstrap5 %}

{% block title %}{% trans "change email"|capfirst %} — {% trans "members"|capfirst %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "change email"|capfirst %} — {% trans "members"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "change email"|capfirst %}</h1>

            <form method="post" enctype="multipart/form-data" class="col-lg-8 offset-lg-2">
                {% csrf_token %}

                {% bootstrap_field form.email %}

                <input type="submit" value="{% trans 'change'|capfirst %}" class="btn btn-primary float-right"/>
            </form>
        </div>
    </section>
{% endblock %}
