{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "change email"|capfirst %} - {% trans "members"|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "change email" %}</h1>
            <p>
                {% blocktrans trimmed %}
                    The verification of your email change was successful. Check your old inbox for the confirmation
                    email.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
