{% extends "small_page.html" %}

{% load static i18n fieldtype django_bootstrap5 %}

{% block title %}{% trans "change email"|capfirst %} — {% trans "members"|capfirst %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "change email"|capfirst %} — {% trans "members"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block page_title %}{% trans "change email"|capfirst %}{% endblock %}

{% block page_content %}
    <form method="post" enctype="multipart/form-data" class="col-12">
        {% csrf_token %}
        {% bootstrap_field form.email %}
        <input type="submit" value="{% trans 'change'|capfirst %}" class="btn btn-primary float-end"/>
    </form>
{% endblock %}
