{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "members"|capfirst %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "members"|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="text-center section-title">{% trans 'Account' %}</h1>

            <div class="row">
                <div class="col-lg-6 offset-lg-3">

                    <p class="text-center">
                        {% blocktrans trimmed with user=request.member.username %}
                            You’re currently logged in as <strong>{{ user }}</strong>
                        {% endblocktrans %}.
                    </p>

                    <hr>

                    <div>
                        <a href="{% url 'members:profile' request.member.pk %}">{% trans "show public profile"|capfirst %}</a>
                        <p>{% blocktrans %}Take a look at your own profile.{% endblocktrans %}</p>
                    </div>

                    <hr>

                    <div>
                        <a href="{% url 'registrations:renew' %}">{% trans "manage membership"|capfirst %}</a>
                        <p>{% blocktrans %}Get information about your membership or renew it.{% endblocktrans %}</p>
                    </div>

                    <hr>

                    <div>
                        <a href="{% url 'members:edit-profile' %}">{% trans "edit profile"|capfirst %}</a>
                        <p>{% blocktrans %}Edit your profile and avatar.{% endblocktrans %}</p>
                    </div>

                    <hr>

                    <div>
                        <a href="{% url 'payments:bankaccount-list' %}">{% trans "manage bank account(s)"|capfirst %}</a>
                        <p>{% blocktrans %}Change the financial information known to Thalia.{% endblocktrans %}</p>
                    </div>

                    <hr>

                    <div>
                        <a href="{% url 'payments:payment-list' %}">{% trans "view payments"|capfirst %}</a>
                        <p>{% blocktrans %}Get an overview of all your expenses.{% endblocktrans %}</p>
                    </div>

                    <hr>

                    <div>
                        <a href="{% url 'password_change' %}">{% trans "change password"|capfirst %}</a>
                        <p>{% blocktrans %}Change your accounts' password.{% endblocktrans %}</p>
                    </div>

                    <hr>

                    <div>
                        <a href="{% url 'logout' %}">{% trans "logout"|capfirst %}</a>
                        <p>{% blocktrans %}Leave the restricted area of the website.{% endblocktrans %}</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}}
