{% extends "simple_page.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "profile"|capfirst %} — {% trans "members"|capfirst %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "profile"|capfirst %} — {% trans "members"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block page_title %}{{ member.profile.display_name }}{% endblock %}
{% block section_tags %}id="members-profile"{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="pb-4 pb-lg-0 col-12 col-lg-7">
            {% if not member.profile.photo %}
                <img src="{% static "members/images/default-avatar.jpg" %}"
                     alt="{{ member.profile.display_name }}"/>
            {% else %}
                <img src="{{ member.profile.photo.url }}"
                     alt="{{ member.profile.display_name }}"/>
            {% endif %}
        </div>
        <div class="col-12 col-lg-5">
            <h4>{% trans "About" %} {{ member.profile.short_display_name }}</h4>

            {% if not member.profile.profile_description %}
                <p>
                    <i>{% trans "This member has not written a description yet." %}</i>
                </p>
            {% else %}
                {{ member.profile.profile_description }}
            {% endif %}

            <hr class="separator">

            <h4>{% trans "Personal information" %}</h4>
            <ul class="list-unstyled">
                <li>
                    <strong>{% trans "Membership type" %}: </strong> {{ membership_type }} (since {{ member.latest_membership.since }})<br>
                </li>

                {% if member.profile.starting_year %}
                    <li>
                        <strong>{% trans "Cohort" %}: </strong> {{ member.profile.starting_year }}<br>
                    </li>
                {% endif %}

                {% if member.profile.programme %}
                    <li>
                        <strong>{% trans "Study programme" %}: </strong> {{ member.profile.get_programme_display }}<br>
                    </li>
                {% endif %}

                {% if member.profile.website %}
                    <li>
                        <strong>{% trans "Website" %}: </strong>
                        <a rel="nofollow,noopener" href="{{ member.profile.website }}">
                            {{ member.profile.website }}
                        </a>
                    </li>
                {% endif %}

                {% if member.profile.show_birthday and member.profile.birthday %}
                    <li><strong>{% trans "Birthday" %}: </strong> {{ member.profile.birthday }}</li>
                {% endif %}

                {% if member.profile.show_birthday and member.profile.birthday %}
                    <li><strong>{% trans "Shoesize" %}: </strong> {{ member.profile.shoesize }}</li>
                {% endif %}

            </ul>

            {% if achievements %}
                <hr class="separator">
                <h4>{% trans "Achievements for Thalia" %}</h4>
                <ul class="list-unstyled">
                    {% for achievement in achievements %}
                        <li class="mb-1">
                            <strong>
                                {% if achievement.url %}
                                    <a href="{{ achievement.url }}">
                                        {{ achievement.name }}
                                    </a>
                                {% else %}
                                    {{ achievement.name }}
                                {% endif %}
                            </strong>
                            <br>
                            {% for period in achievement.periods %}
                                {% if period.role %}
                                    <span>{{ period.role }}: </span>
                                {% elif period.chair %}
                                    <span>{% trans "Chair" %}: </span>
                                {% endif %}
                                <i>
                                    {% if period.since|date:'Y m d' == '1970 01 01' %}
                                        ?
                                    {% else %}
                                        {{ period.since }}
                                    {% endif %}
                                    -
                                    {% if period.until %}
                                        {{ period.until }}
                                    {% else %}
                                        {% trans "today" %}
                                    {% endif %}
                                </i>
                                <br>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if societies %}
                <hr class="separator">
                <h4>{% trans "Societies" %}</h4>
                <ul class="list-unstyled">
                    {% for society in societies %}
                        <li class="mb-1">
                            <strong>
                                <a href="{{ society.url }}">
                                    {{ society.name }}
                                </a>
                            </strong>
                            <br>
                            {% for period in society.periods %}
                                {% if period.role %}
                                    <span>{{ period.role }}: </span>
                                {% elif period.chair %}
                                    <span>{% trans "Chair" %}: </span>
                                {% endif %}
                                <i>
                                    {% if period.since|date:'Y m d' == '1970 01 01' %}
                                        ?
                                    {% else %}
                                        {{ period.since }}
                                    {% endif %}
                                    -
                                    {% if period.until %}
                                        {{ period.until }}
                                    {% else %}
                                        {% trans "today" %}
                                    {% endif %}
                                </i>
                                <br>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
