{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "privacy policy"|capfirst %} —
    {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "privacy policy"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <h1>{% trans "privacy policy"|capfirst %}</h1>

    <h3>Versie 1.0, 12-06-2017</h3>

    <p>
        Dit document is opgesteld om duidelijk te maken waar je gegevens voor
        worden gebruikt. Door lid/begunstiger te worden van de vereniging geef
        je aan deze privacyvoorwaarden te accepteren. Voor alle gegevens geldt
        dat als je ze wil wijzigen je dat zelf aan kan geven bij het bestuur.
    </p>

    <h2>1. Registratie</h2>

    <ul>
        <li>
            Naam<br/>
            Zodat de vereniging het lid kan aanspreken.
        </li>
        <li>
            Straat, huisnummer, postcode en woonplaats<br/>
            Voor het rondsturen van ons verenigingsblad, de Thabloid.
        </li>
        <li>
            E-mailadres<br/>
            Voor het versturen van plenaire mailing zoals ALV-aankondigingen,
            het versturen van de opt-out nieuwsbrief en het versturen van
            opt-in spon- sormailings. Daarnaast voor het versturen persoonlijke
            berichten met inloggegevens voor de website en berichten met
            evenementspecifieke in- formatie, nadat je je geregistreerd hebt
            voor dit evenement.
        </li>
        <li>
            Telefoonnummer<br/>
            Voor persoonlijk contact naar aanleiding van evenementen. Bv. Er is
            op het laatste moment iets verandert, je bent te laat, etc...
        </li>
        <li>
            Geboortedatum<br/>
            Om te garanderen dat er geen alcohol geschonken wordt aan
            minderjarigen. Wordt ook gebruikt voor een opt-out functie op de
            website waarbij je verjaardag zichtbaar is aan andere
            leden/begunstigers.
        </li>
    </ul>

    <p>Verder zijn er nog enkele zaken die enkel gevraagd worden aan leden:</p>

    <ul>
        <li>
            Studentnummer<br/>
            Om te controleren of je nog studeert. Dit is belangrijk voor het
            aanvragen van bestuursbeurzen die als subsidie dienen voor het
            bestuur.
        </li>
        <li>
            Studierichting<br/>
            Ter schetsing van de interessegebieden van de leden.
        </li>
    </ul>

    <p>En enkele zaken die enkel aan begunstigers gevraagd worden:</p>

    <ul>
        <li>
            Historie<br/>
            Om te bepalen of de extra toelatingsprocedure gevolgd moet worden.
        </li>

        <li>
            Extratoelatingsprocedure<br/>
            Vouchers met naam en handtekening en een motivatie ter bevestiging
            dat je veel met Thalia te maken hebt.
        </li>
    </ul>

    <p>Tot slot, indien van toepassing:</p>

    <ul>
        <li>
            Bankrekeningnummer<br/>
            Wanneer je betaalt of declareert met een bankrekeningnummer,
            onthouden we het bankrekeningnummer om betalingen/declaraties in de
            toekomst makkelijker te laten verlopen.
        </li>
    </ul>

    <h2>2. Ledenlijst</h2>

    <p>
        Er wordt op de website een ledenlijst bijgehouden waarbij je een eigen
        profiel- pagina hebt. Deze ledenlijst en profielpagina kunnen enkel
        bezocht worden door andere leden/begunstigers. Op deze profielpagina
        worden naam en, indien lid, studierichting en cohort vermeld. Er
        bestaat de mogelijkheid om informatie aan deze profielpagina toe te
        voegen.
    </p>

    <h2>3. Foto's</h2>

    <p>
        Op evenementen worden foto’s gemaakt ter sfeerimpressie en van
        commissies worden foto’s gemaakt voor op de website. Wil je niet op
        zo’n foto staan? Zeg het even tegen de fotograaf, meestal herkenbaar
        aan zijn commissieshirt en zijn camera.
    </p>
{% endblock %}
