{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "privacy policy"|capfirst %} —
    {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "privacy policy"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <h1>{% trans "privacy policy"|capfirst %}</h1>

    <h3>{% trans "Version" %} 2.2, 29-08-2018</h3>

    <p>
        {% blocktrans trimmed %}
          This document contains the privacy conditions of Study Association Thalia.
          The conditions are applicable on all members, supporters and honorary members of Thalia.
          Where there are differences in the applicability of the conditions on the mentioned groups this will be stated.
        {% endblocktrans %}
    </p>

    <h2>1. {% trans "Categories of personal data" %}</h2>

    <p>
      {% blocktrans trimmed %}
        All data are stored at least for the length of the membership, unless stated otherwise.
        At the end of the membership the address information will be deleted, the name, email address and history with Thalia will be collected in the alumni database.
        The account on the Thalia-website will be operational even after the end of the membership or supportership.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Applicable to members, supporters and honorary members:" %}</h3>

    <p>
      <strong>{% trans "Full name" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses the name of members, supporters and honorary members for its administration and for personalising its communication.
        Processing of these data happens on the basis of it being necessary to fulfill the membership agreement.
      {% endblocktrans %}
    </p>

    <p>
      <strong>{% trans "Address" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses the address of the members, supporters and honorary members for its administration and for sending the association magazine.
        Processing of these data happens on the basis of it being necessary to fulfill the membership agreement.
      {% endblocktrans %}
    </p>

    <p>
      <strong>{% trans "Email address" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses the email addresses of members, supporters and honorary members to communicate about policy and financial matters,
        for sending the weekly newsletter and to enable logging in on the website. Processing of these data happens on the basis of it being
        necessary to fulfill the membership agreement.
      {% endblocktrans %}
    </p>

    <p>
      <strong>{% trans "Phone number" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses the phone number of members, supporters and honorary members to communicate with members about activities of Thalia.
        Think about calling a participant who is too late for an activity or communicating a last-minute change.The processing of phone numbers by Thalia is optional.
        Processing of these data happens based on consent, which is given implicitly when the phone number is entered during registration or on the user profile on the website.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans trimmed %}
        NB: For some events, processing of the phone number is needed because of the nature of the event.
        Processing will happen per activity and will be explained where applicable.
      {% endblocktrans %}
    </p>

    <p>
      <strong>{% trans "Date of birth" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses the date of birth of members, supporters and honorary members to guarantee that no alcohol is served to minors.
        Processing of these data happens on the basis of it being a legitimate interest of Thalia.
      {% endblocktrans %}
    </p>

    <p>
      <strong>{% trans "Bank account number" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses the bank account number of members, supporters and honorary members when they pay via bank transfer or when they declare costs with Thalia.
        These data are saved for as long is required by law for the financial administration of Thalia.
        Processing of these data happens on the basis of it being necessary to fulfill the membership agreement.
      {% endblocktrans %}
    </p>

    <p>
      <strong>{% trans "Emergency contact" %}</strong><br/>
      {% blocktrans trimmed %}
        There is a possibility to add an emergency contact to the user profile on the website, so this person can be contacted if it’s needed.
        Adding an emergency contact is optional.
      {% endblocktrans %}
    </p>

    <p>
      <strong>{% trans "Logging data website" %}</strong><br/>
      {% blocktrans trimmed %}
        Certain actions on the website cause logs to be saved (think about ordering a pizza on the website).
        These logs are necessary for the functioning of the website and to find and repair any errors.
        Processing of these data happens on the basis of it being a legitimate interest of Thalia.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Applicable to members:" %}</h3>

    <p>
      <strong>{% trans "Student number" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses the student number of members to check if they still study and to receive grants for board members.
        Processing of these data happens on the basis of it being necessary to fulfill the membership agreement.
        Processing of these data happens on the basis of it being a legitimate interest of Thalia.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Applicable to everyone:" %}</h3>

    <p>
      <strong>{% trans "Photos" %}</strong><br/>
      {% blocktrans trimmed %}
        Thalia uses photo’s which are made during her events for the promotion of events and the association.
        These photo’s can show persons. Processing of these data happens on the basis of it being a legitimate interest of Thalia.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans trimmed %}
        When someone wishes not to be photographed, he or she can indicate this to the photographer.
        It’s also possible to ask for deletion of the photo after it has been taken.
      {% endblocktrans %}
    </p>

    <h3>{% trans "Other processing of personal data" %}</h3>

    <p>
      {% blocktrans trimmed %}
        For activities of Thalia, additional personal data may be needed.
        Think about data like allergy information or dietary preferences when there is an event with food, or shirt size when clothing is given to participants of an event.
        These data will be processed and explained per event.
      {% endblocktrans %}
    </p>

    <h2>2. {% trans "Rights of members, supporters and honorary members concerning processing of personal data" %}</h2>

    <p>
      {% blocktrans trimmed %}
        The relevant rights of members, supporters and honorary members concerning the processing of personal data is as follows:
      {% endblocktrans %}
    </p>

    <ul>
      <li>
        {% trans "Right of access. The person concerned to view his or her data." %}
      </li>
      <li>
        {% trans "Right to rectification. The person concerned may correct or supplement his or her data." %}
      </li>
      <li>
        {% trans "Right to erasure. The person concerned may let his or her data be deleted." %}
      </li>
      <li>
        {% trans "Right to data portability. The person concerned may let her data be transferred to another party." %}
      </li>
      <li>
        {% trans "Right to restriction of processing. The person concerned may restrict the processing of his or her personal data." %}
      </li>
      <li>
        {% trans "Right to object. The person concerned may object to the processing of his or her data." %}
      </li>
    </ul>

    <p>
      {% blocktrans trimmed %}
        More information on the applicability of these rights can be found on the website of <em>Autoriteit Persoonsgegevens</em> (https://autoriteitpersoonsgegevens.nl/nl).
      {% endblocktrans %}
    </p>

    <h3>{% trans "Contact details for processing of personal data" %}</h3>

    <p>
      {% blocktrans trimmed %}
        Within Thalia, the secretary is the contact person for all matters concerning the processing of personal data.
        Requests and notifications of leaked data can be sent by email to <a href="mailto:secretary@thalia.nu">secretary@thalia.nu</a> or by post to <em>Studievereniging Thalia, Toernooiveld 212, 6525EC Nijmegen</em>.
      {% endblocktrans %}
    </p>

    <h2>3. {% trans "Processing of personal data by third parties" %}</h2>

    <p>
      {% trans "Thalia can share personal data with the following parties:" %}
    </p>

    <ul>
      <li>
        <strong>{% trans "Radboud University Nijmegen" %}</strong><br/>
        {% blocktrans trimmed %}
          Thalia shares names and student numbers with the university to request grants and subsidies and to check the administration.
        {% endblocktrans %}
      </li>
      <li>
        <strong>{% trans "Banks and other financial parties" %}</strong><br/>
        {% blocktrans trimmed %}
          For making payments, data is shared with banks and other financial parties.
          Data will only be shared as far as they are necessary to make or receive payments.
        {% endblocktrans %}
      </li>
    </ul>

    <p>
      {% blocktrans trimmed %}
        Thalia will not share personal data with partners, unless a member, supporter or an honorary member registers for a partner event for which sharing personal data is required.
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans trimmed %}
        Email addresses will not be shared with partners. There is an opt-in mailing list to receive messages from partners, but the partners don’t have access to the email addresses in the list.
      {% endblocktrans %}
    </p>

    <h2>4. {% trans "Updating the privacy conditions" %}</h2>

    <p>
      {% blocktrans trimmed %}
        Thalia reserves the right to change the privacy conditions.
        The new conditions will be shared as soon as possible with members, supporters and honorary members.
        When changes require consent to be given anew, this will be done accordingly.
      {% endblocktrans %}
    </p>
{% endblock %}
