{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "privacy policy"|capfirst %} —
    {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "privacy policy"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <h1>{% trans "privacy policy"|capfirst %}</h1>

    <h3>{% trans "Version" %} 1.0, 12-06-2017</h3>

    <p>
        {% blocktrans trimmed %}
        This document was created to clarify how Thalia uses your personal data.
        By becoming a member or patron of the association, you agree to these
        terms and conditions. To change any data provided you have to contact
        the board.
        {% endblocktrans %}
    </p>

    <h2>1. {% trans "Registration" %}</h2>

    <ul>
        <li>
            {% trans "Name" %}<br/>
            {% trans "Used to address the member by name." %}
        </li>
        <li>
            {% trans "Street, house number, postal code and city" %}<br/>
            {% blocktrans trimmed %}
            Used for delivery of our association magazine, the Thabloid.
            {% endblocktrans %}
        </li>
        <li>
            {% trans "Email address" %}<br/>
            {% blocktrans trimmed %}
            Used for delivery of planned mail such as GM announcements,
            sending the opt-out newsletter and sending the opt-in sponsorship mail.
            In addition, this will be used to send personal messages with login
            credentials for the website and messages with event-specific information
            after registering for an event.
            {% endblocktrans %}
        </li>
        <li>
            {% trans "Phone number" %}<br/>
            {% blocktrans trimmed %}
            Used for personal contact with regards to events,
            such as last minute changes, being late for an
            event and similar.
            {% endblocktrans %}
        </li>
        <li>
            {% trans "Birth Date" %}<br/>
            {% blocktrans trimmed %}
            Ensures no alcohol can be dispensed to underaged members
            and used in an opt-out function on the website when showing
            or hiding your birthday from other members and patrons.
            {% endblocktrans %}
        </li>
    </ul>

    <p>{% trans "Furthermore, there are several things that are only requested from members:" %}</p>

    <ul>
        <li>
            {% trans "Student Number" %}<br/>
            {% blocktrans trimmed %}
            Used to check whether you're still studying.
            This is key for the requisition of board subsidies.
            {% endblocktrans %}
        </li>
        <li>
            {% trans "Study" %}<br/>
            {% blocktrans trimmed %}
            Used to chart member interests.
            {% endblocktrans %}
        </li>
    </ul>

    <p>{% trans "There are also several things that are only requested from patrons:" %}</p>

    <ul>
        <li>
            {% trans "History" %}<br/>
            {% blocktrans trimmed %}
            Used to decide whether the admittance procedure is to be followed.
            {% endblocktrans %}
        </li>

        <li>
            {% trans "Additional admittance procedure" %}<br/>
            {% blocktrans trimmed %}
            This is a voucher with a signature and a motivation
            to confirm you're familiar to and close with Thalia.
            {% endblocktrans %}
        </li>
    </ul>

    <p>{% trans "Finally, if relevant:" %}</p>

    <ul>
        <li>
            {% trans "Bank Account Number" %}<br/>
            {% blocktrans trimmed %}
            When you pay or declare costs with a bank account,
            we retain the account number and payments/declarations
            to simplify future payments.
            {% endblocktrans %}
        </li>
    </ul>

    <h2>2. {% trans "Member List" %}</h2>

    <p>
        {% blocktrans trimmed %}
        The website keeps track of a list of members where you have your own
        profile page. This list and profile page can only be visited by other
        members or patrons. The profile page mentions the name and if the owner
        is a member, the study and the cohort the member belongs to. The profile
        page can be extended with further information.
        {% endblocktrans %}
    </p>

    <h2>3. {% trans "Photographs" %}</h2>

    <p>
        {% blocktrans trimmed %}
        During events, pictures are taken to portray the atmosphere. In addition,
        committees are photographed for the website. If prefer to not be present
        on such a picture, you can tell the photographer, usually recognizable
        by their committee shirt and the camera.
        {% endblocktrans %}
    </p>
{% endblock %}
