{% extends "admin/change_form.html" %}
{% load i18n admin_urls static sass_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% sass_src 'admin/payments/css/forms.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/payments/js/payments.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
    {% if batch %}
    <div class="submit-row payments-row">
        {% if not batch.processed %}
            <a data-href="{% url 'admin:payments_batch_process' pk=batch.pk %}" class="button process">{% trans "Process batch" %}</a>
        {% endif %}
        <a data-href="{% url 'admin:payments_batch_export' pk=batch.pk %}" class="button process">{% trans "Export batch" %}</a>
        <a data-href="{% url 'admin:payments_batch_export_topic' pk=batch.pk %}" class="button process">{% trans "Export batch per topic" %}</a>
        <a data-href="{% url 'admin:payments_batch_topic_description' pk=batch.pk %}" class="button process">{% trans "Export description" %}</a>
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
