{% extends 'photos/index.html' %}

{% block search_form %}
    {{ block.super }}
    {% if not photos %}
        <a href="{% url 'facedetection:your-photos' %}" class="btn btn-lg btn-info col-6 mt-2 mt-md-0 col-md-2 ms-0 ms-md-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-wrench me-2 me-md-2"></i><span>Enable face detection</span>
        </a>
    {% else %}
        <a href="{% url 'facedetection:your-photos' %}" class="btn btn-lg btn-primary col-6 mt-2 mt-md-0 col-md-2 ms-0 ms-md-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-user me-2 me-md-2"></i><span>Photos you're on</span>
        </a>
    {% endif %}
{% endblock search_form %}
