{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Contact" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Contact" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "Contact" %}</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <td>{% trans "Faculty:" %}</td>
                        <td>{% trans "Faculty of Science" %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Room:" %}</td>
                        <td>M1.0.08</td>
                    </tr>
                    <tr>
                        <td>{% trans "Address:" %}</td>
                        <td>Toernooiveld 212<br>6525 EC Nijmegen<br>{% trans "Board room: M1.0.08 (ground floor)" %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Postal address:" %}</td>
                        <td>Postbus 9010<br>6500 GL Nijmegen</td>
                    </tr>
                    <tr>
                        <td>{% trans "Telephone:" %}</td>
                        <td>+31 (0)24 3653498</td>
                    </tr>
                    <tr>
                        <td>{% trans "Email:" %}</td>
                        <td>
                            <a href="mailto:info@thalia.nu">info@thalia.nu</a> {% trans "general" %}<br>
                            <a href="mailto:{% trans "collaboration@thalia.nu" %}">{% trans "collaboration@thalia.nu" %}</a> {% trans "communication w.r.t. promoting your company (activities)" %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Chamber of Commerce" %}:</td>
                        <td>40146464</td>
                    </tr>
                    <tr>
                        <td>IBAN:</td>
                        <td>NL23INGB0006234184</td>
                    </tr>
                    <tr>
                        <td>{% trans "VAT number:" %}</td>
                        <td>NL800232483B02</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
