{% extends "simple_page.html" %}
{% load i18n static %}

{% block title %}Responsible disclosure policy — {{ block.super }}{% endblock %}
{% block opengraph_title %}Responsible disclosure policy — {{ block.super }}{% endblock %}

{% block page_title %}Responsible disclosure policy{% endblock %}

{% block page_content %}
    <h3>Version 1.2, 2023-12-16</h3>
    <p>
        At Thalia, we take security of our infrastructure and digital systems seriously.
        We develop, build and deploy all systems with security in mind.
        However, we can never be 100% secure and vulnerabilities will, unfortunately, present themselves.
        If you find a (potential) vulnerability or security issue, we would appreciate it if you inform us as soon as possible.
        Please note that we <i> do not</i> pay out money for found vulnerabilities.
    </p>
    <h4>How to notify us</h4>
    <ul>
        <li>You can report about potential security issues on <a href='https://github.com/svthalia/concrexit/security/advisories/new'>https://github.com/svthalia/concrexit/security/advisories/new</a></li>
        <li>Alternatively, you can also reach us at <a href='mailto:www@thalia.nu'>www@thalia.nu</a> (in either English or Dutch).</li>
        <li>Also consider <a href="/.well-known/security.txt" target="_blank">https://thalia.nu/.well-known/security.txt</a>.</li>
    </ul>
    <h4>We ask you to</h4>
    <ul>
        <li>only exploit vulnerabilities to confirm their presence.</li>
        <li>give detailed reports of your findings to help us identify the underlying problem.</li>
        <li>not share your report with anybody else until the problem has been fixed.</li>
        <li>involve us if you want to publish your report once it has been fixed.</li>
        <li>respect the privacy of our members.</li>
    </ul>
    <h4>We promise you to</h4>
    <ul>
        <li>take your reports seriously.</li>
        <li>respond to your reports as soon as possible.</li>
        <li>solve the issue as soon as possible.</li>
        <li>respect your privacy and treat your reports confidentially.</li>
        <li>keep you up to date and work with you to solve the underlying problem.</li>
        <li>credit you in any internal and external announcements (with your permission).</li>
        <li>not take any legal action if you followed the above guidelines.</li>
    </ul>
    <h4>What is the scope</h4>
    <ul>
        <li>You may try to exploit: https://thalia.nu/*</li>
        <li>Any resource that is not listed here is also prohibited.</li>
    </ul>
    <p>If you happen to find something on an unlisted resource, please let us know.</p>
    <h4>Which attacks are disallowed</h4>
    <p>Because we are a small organisation we ask you to not use the following attack methods:</p>
    <ul>
        <li>social engineering</li>
        <li>physical attacks</li>
        <li>(distributed) denial of service</li>
        <li>spam attacks</li>
        <li>automated scanners</li>
    </ul>
    <h4>Exceptions</h4>
    <p>The following reports will not be taken into consideration:</p>
    <ul>
        <li>the policy of SPF / DKIM / DMARC</li>
        <li>the policy of CSP</li>
    </ul>
    <p>Thank you for your concern, but we are already aware of these issues.</p>
    <hr class="my-4">
    <h2 class="section-title">Hall of fame</h2>
    <p>On this list, we thank the people that followed our responsible disclosure policy!</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/rhonny" target="_blank">Raju Basak</a> for informing us about a rate limiting problem on our password-reset form.</li>
        <li><a href="https://www.linkedin.com/in/ryh04x" target="_blank">Rhythm</a> for informing us about rate limiting and input validation that could be improved on the member registration form.</li>
    </ul>
{% endblock %}
