{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sibling Associations" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Sibling Associations" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <h1 class="section-title">{% trans "Associations of the Radboud University Science Faculty" %}</h1>
                    <ul>
                        <li><a href="https://www.beevee.nl/">BeeVee ({% trans "(Medical) Biology" %})</a></li>
                        <li><a href="https://svcognac.nl/">CognAC ({% trans "Artificial Intelligence" %})</a></li>
                        <li><a href="https://www.desda.org/">DESDA ({% trans "Mathematics" %})</a></li>
                        <li><a href="https://www.leonardo.science.ru.nl/">Leonardo da Vinci ({% trans "Science" %})</a></li>
                        <li><a href="https://www.marie-curie.nl/">Marie Curie ({% trans "Physics and Astronomy" %})</a></li>
                        <li><a href="https://www.olympus.science.ru.nl/">Olympus
                            ({% trans "Science faculty umbrella association" %})</a></li>
                        <li><a href="https://www.vcmw-sigma.nl/home">Sigma ({% trans "Molecular Sciences" %})</a></li>
                        <li><a href="http://www.bbb-careerevent.com/">{% trans "BBB Career Event" %}</a></li>
                    </ul>
                </div>
                <div class="col col-12 col-md-6 mt-md-0 mt-4">
                    <h1 class="section-title">{% trans "Sister Associations" %}</h1>
                    <ul>
                        <li><a href="https://www.abacus.utwente.nl/">Abacus ({% trans "University of Twente" %})</a></li>
                        <li><a href="https://www.a-eskwadraat.nl/">A-Eskwadraat ({% trans "Utrecht University" %})</a></li>
                        <li><a href="https://ch.tudelft.nl/">Christiaan Huygens
                            ({% trans "Delft University of Technology" %})</a></li>
                        <li><a href="https://www.svcover.nl/">Cover ({% trans "University of Groningen" %})</a></li>
                        <li><a href="https://www.deleidscheflesch.nl/">De Leidsche Flesch ({% trans "Leiden University" %})</a>
                        </li>
                        <li><a href="https://www.fmf.nl/">FMF ({% trans "University of Groningen" %})</a></li>
                        <li><a href="https://www.gewis.nl/">GEWIS ({% trans "Eindhoven University of Technology" %})</a></li>
                        <li><a href="https://www.inter-actief.utwente.nl/">Inter-<i>Actief</i>
                            ({% trans "University of Twente" %})</a></li>
                        <li><a href="https://nsaweb.nl/">NSA ({% trans "University of Amsterdam" %})</a></li>
                        <li><a href="https://www.stickyutrecht.nl/">Sticky ({% trans "Utrecht University" %})</a></li>
                        <li><a href="https://www.storm.vu/">STORM ({% trans "VU University Amsterdam" %})</a></li>
                        <li><a href="https://svia.nl/">via ({% trans "University of Amsterdam" %})</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
