{% extends 'education/base.html' %}
{% load static compress %}
{% load i18n static grid_item %}

{% block title %}{% trans "Student Participation" %} —
    {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Student Participation" %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section" id="education-pc">
        <div class="container">
            <h1 class="section-title">{% trans "Program Committee" %}</h1>
            <div class="row mt-4">
                <div class="col-12 col-md-8 col-lg-6">
                    <p>
                        {% blocktrans %}
                            The Program Committee (PC) is responsible for giving advice concerning
                            education and exam regulations that have to be approved every year, and
                            for evaluating the quality of education. The PC consists of six students
                            and six teachers. The PC considers both course evaluations and teacher's
                            reactions to those, and evaluates the quality of the courses. They also
                            give advice, even unsolicited, to the Director of Education and the
                            Education Board.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                            Besides these things the PC is also a body consisting partially of
                            students that you as a student can approach with issues regarding
                            specific courses, the curriculum or the like. Each quarter the PC organises
                            a walk-in session where accompanied by free drinks and cookies you can talk
                            to the student members of the PC about any of the courses from that quarter.
                            If something happens in the middle of the quarter, it is something you would
                            rather not talk about in person or you just prefer using email for any other
                            reason then also feel free to contact us at <a href="mailto:pc-students@cs.ru.nl">
                            pc-students@cs.ru.nl</a>
                            for the students of the PC and at <a href="mailto:olc@cs.ru.nl">
                            olc@cs.ru.nl</a> for the
                            entire PC. For more information about the members or anything related to the
                            PC you can also look <a href="https://www.ru.nl/courseguides/science/practical-information/faculty-science-general-information/student-participation/programme-committees/">here</a>.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-12 col-md-4 col-lg-6 row">
                    <div class="col-6 col-md-12 col-lg-6 my-3 mt-md-0">
                        {% static "img/contact_persons/studying-huygens.jpeg" as photo %}
                        {% grid_item title="Mail the PC students" meta_text="<p>Email the Program Committee students</p>" url="mailto:pc-students@cs.ru.nl" image_url=photo %}
                    </div>
                    <div class="col-6 col-md-12 col-lg-6 my-3 mt-md-0">
                        {% static "img/contact_persons/flowers-huygens.jpeg" as photo %}
                        {% grid_item title="Mail the PC (students and teachers)" meta_text="<p>Email the teachers and students of the Program Committee</p>" url="mailto:olc@cs.ru.nl" image_url=photo %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="education-fsc">
        <div class="container">
            <h1 class="section-title">{% trans "Faculty Student Council" %}</h1>
            <div class="row mt-4">
                <div class="col-12 col-md-8 col-lg-9">
                    <p>
                        {% blocktrans trimmed %}
                            The Faculty of Science has their own student participation
                            organ that concerns itself with matters that are important
                            to our faculty. This ranges from an expension of the
                            computer rooms to more lenient opening hours to changes
                            concerning education. The Faculty Student Council is open
                            for all suggestions that have anything to do with our
                            faculty. Whether you think there is not enough space in the
                            bicycle parking lots or that you did not get enough time on
                            your exams due to the procters, the Faculty Student Council
                            tries to tackle all problems and make sure that the Faculty
                            of Science remains the best faculty at our university.
                            You can read more about the Faculty Student Council
                            <a href="http://www.ru.nl/fnwi/fsr/">here</a>.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-8 col-md-4 col-lg-3 my-3 mx-auto">
                    {% static "img/student_participation/FSR_logo.png" as photo %}
                    {% grid_item title="Faculty Student Council" meta_text="<p>For more information about the FSC</p>" url="http://www.ru.nl/fnwi/fsr/" image_url=photo %}
                </div>
            </div>
        </div>
    </section>

    <section class="page-section" id="education-usc">
        <div class="container">
            <h1 class="section-title">{% trans "University Student Council" %}</h1>
            <div class="row mt-4">
                <div class="col-12 col-md-8 col-lg-9">
                    <p>
                        {% blocktrans trimmed %}
                        The University Student Council (USC) is concerned with all
                        issues that concern the entire university. One could think
                        of the opening hours of the university library, the
                        renting of rooms for student organizations or the orientation week.
                        The USC consists of fourteen members. Eight are chosen by students
                        and the other six represent different student organizations
                        from the university. You can read more about the USC
                        <a href="http://www.ru.nl/usr/">here</a> and <a href="https://www.numedezeggenschap.nl/">here</a>.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="col-8 col-md-4 col-lg-3 my-3 mx-auto">
                    {% static "img/student_participation/USR_logo.png" as photo %}
                    {% grid_item title="University Student Council" meta_text="<p>For more information about the USC</p>" url="http://www.ru.nl/usr/" image_url=photo %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
