{% extends "base.html" %}
{% load i18n static grid_item %}

{% block title %}{% trans "Student well-being" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Student well-being" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="section-title">{% trans "Services from the university" %}</h1>
                    {% blocktrans %}
                        University also offers some services to help students. Below are the most important points of contact.
                    {% endblocktrans %}

                    <div class="row my-3">
                        <div class="col-6 col-md-6 my-3">
                            {% static "img/contact_persons/hallway-huygens.jpeg" as photo %}
                            {% grid_item title="Study advisor" meta_text="<p>For questions about you and your study</p>" url="https://www.ru.nl/courseguides/science/practical-information/faculty-science-general-information/student-advisors/" image_url=photo %}
                        </div>
                        <div class="col-6 col-md-6 my-3">
                            {% static "img/contact_persons/flowers-huygens.jpeg" as photo %}
                            {% grid_item title="STIP" meta_text="<p>For questions about courses and enrollments</p>" url="https://www.ru.nl/courseguides/science/practical-information/faculty-science-general-information/student-information-point-stip/" image_url=photo %}
                        </div>
                        <div class="col-6 col-md-6 my-3">
                            {% static "img/contact_persons/studying-huygens.jpeg" as photo %}
                            {% grid_item title="International Office" meta_text="<p>Eveything for international students and exchanges</p>" url="https://www.ru.nl/io/english/" image_url=photo %}
                        </div>
                        <div class="col-6 col-md-6 my-3">
                            {% static "img/contact_persons/huygens-sunset.jpeg" as photo %}
                            {% grid_item title="Confidential Advisor" meta_text="<p>When you experience undesirable behaviour</p>" url="https://www.ru.nl/currentstudents/during-your-studies/legal-affairs/objections-appeals-complaints/report-improper-behaviour/" image_url=photo %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="section-title">{% trans "Trust contact persons" %}</h1>
                    <div class="col-12 col-md-12">
                        {% blocktrans %}
                            If you struggle with anything from personal problems to questions about
                            your study and you don’t know where to go, you can contact one of the
                            trust contact persons. They will make sure you get in contact with the
                            right professional. Everything that is discussed with a trust contact
                            person is confidential.
                        {% endblocktrans %}
                    </div>
                    <div class="row my-3">
                        <div class="col-6 col-md-6 my-3 mt-md-0">
                            {% static "img/contact_persons/tom-koning.jpeg" as photo %}
                            {% grid_item title="Tom Koning" meta_text="<p>gtkoning.tk@gmail.com</p>" url="mailto:gtkoning.tk@gmail.com" image_url=photo %}
                        </div>
                        <div class="col-6 col-md-6 my-3 mt-md-0">
                            {% static "img/contact_persons/isolde-hoogendonk.jpeg" as photo %}
                            {% grid_item title="Isolde Hoogendonk" meta_text="<p>isoldeedlosi@gmail.com</p>" url="mailto:isoldeedlosi@gmail.com" image_url=photo %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <div class="row mt-4">
                <div class="col-12">
                    {% static "img/contact_persons/campus-swing.jpeg" as photo %}
                    {% grid_item title="General student support website from the university" meta_text="" url="https://www.ru.nl/currentstudents/during-your-studies/overview-counsellors-advisors/student-support/" image_url=photo class_name="ratio1-4" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
