{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "styleguide"|capfirst %} — {% trans "for members"|capfirst %} —
    {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "styleguide"|capfirst %} — {% trans "for members"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center">{% trans "styleguide"|capfirst %}</h1>

            <p>
                {% blocktrans trimmed %}
                    Welcome to the Thalia styleguide. This document describes how Thalia represents itself, online and
                    offline.

                    This styleguide is meant to be followed as much as possible. Creativity is not forbidden, as long as
                    you use this styleguide as basis.
                {% endblocktrans %}
            </p>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="colour">{% trans "Colours" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    Thalia uses a palette of three colours. Each colour can be used as background, foreground and accent
                    colour.
                {% endblocktrans %}
            </p>

            <div class="row">
                <div class="col-4">
                    <h3>{% trans "black"|capfirst %}</h3>

                    <p>
                        {% trans "Hexadecimal" %}: #000000<br/>
                        {% trans "RGB" %}: 0 / 0 / 0<br/>
                        {% trans "CMYK" %}: 91 / 79 / 62 / 92
                    </p>
                </div>

                <div class="col-4">
                    <h3>{% trans "white"|capfirst %}</h3>

                    <p>
                        {% trans "Hexadecimal" %}: #FFFFFF<br/>
                        {% trans "RGB" %}: 255 / 255 / 255<br/>
                        {% trans "CMYK" %}: 0 / 0 / 0 / 0
                    </p>
                </div>

                <div class="col-4">
                    <h3>{% trans "magenta"|capfirst %}</h3>

                    <p>
                        {% trans "Hexadecimal" %}: #E62272<br/>
                        {% trans "RGB" %}: 230 / 34 / 114<br/>
                        {% trans "CMYK" %}: 0 / 94 / 21 / 0
                    </p>
                </div>
            </div>

            <p>
                {% blocktrans trimmed %}
                    We've established guidelines on how to use which colour in which situation.
                {% endblocktrans %}
            </p>
            <div class="row">
                <div class="col-4">
                    <h3>{% trans "Option" %} 1</h3>

                    <p>
                        {% trans "Background" %}: {% trans "white" %}<br/>
                        {% trans "Foreground" %}: {% trans "black" %}<br/>
                        {% trans "Accent" %}: {% trans "magenta" %}
                    </p>
                </div>

                <div class="col-4">
                    <h3>{% trans "Option" %} 2</h3>

                    <p>
                        {% trans "Background" %}: {% trans "black" %}<br/>
                        {% trans "Foreground" %}: {% trans "white" %}<br/>
                        {% trans "Accent" %}: {% trans "magenta" %}
                    </p>
                </div>

                <div class="col-4">
                    <h3>{% trans "Option" %} 3</h3>

                    <p>
                        {% trans "Background" %}: {% trans "magenta" %}<br/>
                        {% trans "Foreground" %}: {% trans "white" %}<br/>
                        {% trans "Accent" %}: {% trans "black" %}
                    </p>
                </div>
            </div>

        </div>
    </section>
    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="logo">{% trans "Logo" %}</h1>

            <h2>Basis</h2>

            <p>
                {% blocktrans trimmed %}
                    Thalia's logo consists of a 'T' formed by the pieces of a
                    <a href="https://en.wikipedia.org/wiki/Tangram" rel="noopener" target="_blank">tangram</a> and the text 'Study
                    Association Thalia'. The font that was used for this text is '<a href="https://drive.google.com/drive/folders/10CVVUGTiyRhq_s0WGGhz2dgHDP6tVwMT">Gill Sans MT Condensed</a>'.
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans trimmed %}
                    There are three versions of the logo, each one has a different background colour. The combinations
                    of the colours follow the guidelines in the section <a href="#colour">colour</a>.
                    In the situation that the background is not white, black or magenta please follow these rules:<br/>
                {% endblocktrans %}
            <ul>
                <li>{% trans "In case of a light background, use the logo for the white background." %}</li>
                <li>{% trans "In case of a dark background, use the logo for the black background." %}</li>
                <li>{% trans "In case of a coloured background, use the logo for the magenta background." %}</li>
            </ul>
            </p>

            <p>
                <img src="{% static 'styleguide/images/logo-versions-example.png' %}"/>
            </p>

            <p>
                {% blocktrans trimmed %}
                    You can download the archive with all versions of the logo in PNG, SVG and Illustrator
                    <a href="https://drive.google.com/drive/folders/1L9i1yENpTnVPkviRsYmbUSZkc7Me3HhW">here</a>.
                {% endblocktrans %}
            </p>

            <h2>{% trans "Variations" %}</h2>

            <p>
                {% blocktrans trimmed %}
                    Thalia's logo was designed with flexibility in mind. It's possible to create a different variants
                    for each committee, or a special version for an event (for example the symposium).
                    These variants have to use the same colour combinations as the normal logo and must follow these
                    rules:
                {% endblocktrans %}
            <ul>
                <li>{% trans "The top title is <strong>always</strong> 'THALIA'." %}</li>
                <li>{% trans "Always use 2 or 3 lines. No more, no less." %}</li>
                <li>{% trans "The text is vertically centered relative to the T." %}</li>
                <li>{% trans "The horizontal distance between the text lines and the T is always the same." %}</li>
            </ul>
            </p>

            <p>
                <img src="{% static 'styleguide/images/logo-variants-example.png' %}"/>
            </p>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="documents">{% trans "Documents & Presentations" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    We've got Word-templates for:
                {% endblocktrans %}
            <ul>
                <li>{% trans "Contracts" %}</li>
                <li>{% trans "Invoices" %}</li>
                <li>{% trans "Letters" %}</li>
                <li>{% trans "Minutes" %}</li>
                <li>{% trans "Authorisation forms" %}</li>
                <li>{% trans "Registration forms" %}</li>
                <li>{% trans "Declarations" %}</li>
            </ul>
            {% blocktrans trimmed %}
                You can download these templates <a href="https://drive.google.com/drive/folders/1-UlUhcWkGETUsET39V_gzwYabZPiq_Zj">here</a> as archive. We've also
                included PDF
                examples.
                In case you prefer LaTeX then you can download the <a href="https://drive.google.com/drive/folders/1sIHiNV5TGxXVCtzZbL7CA12iSyaaO_TS">template</a>.
            {% endblocktrans %}
            </p>

            <p>
                {% blocktrans trimmed %}
                    Templates for PowerPoint, Keynote and LibreOffice are available
                    <a href="https://drive.google.com/drive/folders/1UiaKRi2bXKcPe7iaE3e5uOb7c1ZwrQNt">here</a>.
                {% endblocktrans %}
            </p>
        </div>
    </section>


    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="posters">{% trans "Posters & Banners" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    The posters and banners are available in various sizes:
                {% endblocktrans %}
            <ul>
                <li>{% trans "A3 Paper" %}</li>
                <li>{% trans "1920 × 1080 for the televisions" %}</li>
                <li>{% trans "400 × 280 for the login screens" %}</li>
                <li>{% trans "1594 × 590 for Facebook" %}</li>
                <li>{% trans "2000 × 430 for the Website Sliders (only the center 1075x430 area is visible)" %}</li>
            </ul>
            {% blocktrans trimmed %}
                For every size there is a dark and light version. The posters are in black, white and magenta colour
                variants.
            {% endblocktrans %}
            </p>

            <p>
                {% blocktrans trimmed %}
                    The templates are available for download <a href="https://drive.google.com/drive/folders/1UuJhKhbN-mwS8IJUytiz5b75aPwYbEbY">here</a>.
                    Although, it's the task of the media committee to create the posters and banners.
                    So you're always welcome to send an email to <a href="mailto:media@thalia.nu">media@thalia.nu</a> to
                    get
                    yourself a sleek poster for your event.
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans trimmed %}
                    Still looking for something different? No problem! Let yourself go. Just make sure you follow the
                    'rules'.
                    And  in case you get lost in the land of Photoshop and Illustrator, just send an email to
                    media@thalia.nu.
                    They're always ready to help you.
                {% endblocktrans %}
            </p>

        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="merchandise">{% trans "Merchandise" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    We make an exception for the colour palette of the merchandise if it's not possible to print in full
                    colour.
                    The preference is to print magenta on black.
                {% endblocktrans %}
            </p>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="introshirts">{% trans "Introshirts" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    The introshirts too are an exception. These shirts are in different colours every year.
                    The templates for the shirts can be found <a href="https://drive.google.com/drive/folders/1L5nxUz1G-p4qI0dR8MDcVHgbvSOVi8FK">here</a>. The partner logos
                    and
                    texts can be changed to those you prefer.
                {% endblocktrans %}
            </p></div>
    </section>

    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="committee">{% trans "Committee promotion" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    Any committee is allowed to design a piece of clothing especially tailored for promotion and
                    visibility of
                    the assocation and the committee.
                    However it would be unwise to have every committee wear the same colour, that would not improve the
                    visibility of the committee.
                    That means that committees are free to choose any color they want for their promotional material.
                    <a href="https://www.dressmeclothing.nl/">DressMe</a> is Thalia's preferred supplier for printed clothing.
                {% endblocktrans %}
            </p>

            <p>
                <img src="{% static 'styleguide/images/committee-promotion-front-example.png' %}"/>
            </p>

            <p>
                <img src="{% static 'styleguide/images/committee-promotion-back-example.png' %}"/>
            </p>

            <p>
                {% blocktrans trimmed %}
                    To prevent a jungle of different types of designs we would like every committee that wants some kind
                    of
                    clothing
                    to use the same design for the front and one of the Thalia colours for the print.
                    The standard front design exists of a Thalia-logo variant with the committee name and, if you want
                    to, the
                    wearer's name.
                    The design for the back can be whatever you want.
                {% endblocktrans %}
            </p>

        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="website">{% trans "Website" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    The website uses a different font for the headers and menu-items, since we don't have a licence to
                    use the
                    Gill Sans MT Condensed font online.
                    This font is 'Oswald'. It's open-source and can be downloaded
                    <a href="https://github.com/googlefonts/OswaldFont">here</a>.
                {% endblocktrans %}
            </p>

        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <h1 class="section-title text-center" id="downloads">{% trans "Downloads" %}</h1>

            <ul>
                <li><a href="https://drive.google.com/drive/folders/10CVVUGTiyRhq_s0WGGhz2dgHDP6tVwMT">{% trans "Font" %}</a></li>
                <li><a href="https://drive.google.com/drive/folders/1L9i1yENpTnVPkviRsYmbUSZkc7Me3HhW">{% trans "Logos" %}</a></li>
                <li><a href="https://drive.google.com/drive/folders/1-UlUhcWkGETUsET39V_gzwYabZPiq_Zj">{% trans "Word documents" %}</a></li>
                <li><a href="https://drive.google.com/drive/folders/1sIHiNV5TGxXVCtzZbL7CA12iSyaaO_TS">{% trans "LaTeX template" %}</a></li>
                <li><a href="https://drive.google.com/drive/folders/1UiaKRi2bXKcPe7iaE3e5uOb7c1ZwrQNt">{% trans "Presentation templates" %}</a></li>
                <li><a href="https://drive.google.com/drive/folders/1UuJhKhbN-mwS8IJUytiz5b75aPwYbEbY">{% trans "Poster templates" %}</a></li>
                <li><a href="https://drive.google.com/drive/folders/1L5nxUz1G-p4qI0dR8MDcVHgbvSOVi8FK">{% trans "Introshirts" %}</a></li>
            </ul>

        </div>
    </section>
{% endblock %}
