{% extends "base.html" %}
{% load i18n static bootstrap4 compress alert %}

{% comment %}This page is automatically used by django-oauth-toolkit{% endcomment %}

{% block title %}{% trans "delete application"|capfirst %} —  {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "delete application"|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "delete application"|capfirst %}</h1>

            <p>{% trans "Are you sure you want to revoke the access for this application?" %}</p>

            <form action="" method="post">
                {% csrf_token %}

                <div class="form-group col-6 col-lg-2 offset-3 offset-lg-5 mt-4">
                    <input type="submit" class="btn btn-danger w-100" value="{% trans "confirm"|capfirst %}" />
                    <a href="{% url 'oauth2_provider:authorized-token-list' %}" class="btn btn-secondary w-100 mt-4">{% trans "cancel"|capfirst %}</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
