.submit-row a {
    &.default {
        text-transform: uppercase;
    }

    &.button {
        float: right;
        padding: 10px 15px;
        line-height: 15px;
        margin: 0 0 0 8px;
    }
}

.pushnotifications-row .button {
    background-color: #e65c95;
    font-size: 13px;

    &.default {
        background-color: #e62272;
        &:hover, &:active {
            background-color: #cd2167;
        }
    }

    &:hover, &:active {
        background-color: #d25389;
    }
}
