.tile-header {
    background-color: var(--primary);
}

.product-page-centre-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
    max-width: 40em;
    max-height: 40em;
    border: 5px solid #e62270;
}

.item-image{  
    width: 25em; 
    height: 25em;
    overflow: hidden;
}



.product-page-image{
    text-align: center; 
    display: flex; 
    justify-content: center;
    
}

.product-page-price{
    margin-top: 3%;
    
}
.product-page-price p{
    font-size: 2em;
}


.product-page-item-description{
    margin-top: 2%;
}
