#page-content {
    #photos-index, #photos-album {
        .grayscale {
            img {
                filter: grayscale(1);
            }
        }

        .grid-item {
            &.grayscale {
                .overlay {
                    background-color: rgba(88, 88, 88, 0.6);
                }
            }

            @each $rotation in '90' '180' '270' {
                &.rotate#{$rotation}:hover .image  img {
                    -moz-transform: scale(1.05) rotate(#{$rotation}deg);
                    -webkit-transform: scale(1.05) rotate(#{$rotation}deg);
                    transform: scale(1.05) rotate(#{$rotation}deg);
                }
            }
        }

        h1.section-title {
            padding: 20px 40px 0 0;
        }
    }

    .search-form {
        .btn {
            height: 50px;
        }
    }
}

@each $rotation in '90' '180' '270' {
    .rotate#{$rotation} img {
        -moz-transform: rotate(#{$rotation}deg);
        -webkit-transform: rotate(#{$rotation}deg);
        transform: rotate(#{$rotation}deg);
    }
}
