#page-content {
    #photos-index, #photos-album {
        .grayscale {
            img {
                filter: grayscale(1);
            }
        }

        .grid-item {
            &.grayscale {
                .overlay {
                    background-color: rgba(88, 88, 88, 0.6);
                }
            }
        }
    }

    .search-form {
        .btn {
            height: 50px;
        }
    }
}

:root {
    --fancybox-thumbs-border-radius: 0;
    --fancybox-accent-color: var(--primary);
}

.fancybox__button--like.liked {
    color: var(--primary);
}

.fancybox__button--like.liked:hover {
    color: var(--primary-hover);
}
.fancybox__button--like:hover {
    color: var(--primary-contrast-hover);
}
