{% extends "base.html" %}
{% load i18n thumbnail static %}
{% block title %}{% trans 'Boards' %} — {{ block.super }}{% endblock %}

{% block body %}
<h1>{% trans "Boards (continued)" %}</h1>
<h2>{% trans "Board" %} 2000-2001</h2>
<ul>
    <li>Jelte Jansen, Voorzitter</li>
    <li>Linus Wiggers, Secretaris</li>
    <li>Martijn Broenland, Penningmeester</li>
    <li>Michel Groenenstijn, Voorzitter Evenementencommissie</li>
    <li>Matthijs Mekking, Voorzitter Kantinecommissie</li>
    <li>The-Vinh Nguyen, Voorzitter Publiciteitscommissie</li>
</ul>
<h2>{% trans "Board" %} 1999-2000</h2>
<ul>
    <li>Jelte Jansen, Voorzitter</li>
    <li>Miek Gieben, Secretaris</li>
    <li>Stephan Jager, Penningmeester</li>
    <li>The-Vinh Nguyen, Voorzitter Evenementencommissie</li>
    <li>Michel Groenenstijn, Voorzitter Kantinecommissie</li>
    <li>Merijn Vogel, Voorzitter Publiciteitscommissie</li>
</ul>
<h2>{% trans "Board" %} 1998-1999</h2>
<ul>
    <li>Martin Bruggink, Voorzitter</li>
    <li>Miek Gieben, Secretaris</li>
    <li>Bas Passon, Penningmeester</li>
    <li>The-Vinh Nguyen, Voorzitter Evenementencommissie</li>
    <li>Jelte Jansen, Voorzitter Kantinecommissie</li>
    <li>Jeroen Kratz, Voorzitter Publiciteitscommissie</li>
</ul>
<h2>{% trans "Board" %} 1997-1998</h2>
<ul>
    <li>Mariëlle Weers, Voorzitter</li>
    <li>Martin Bruggink, Secretaris</li>
    <li>Jeroen Houba, Penningmeester</li>
    <li>Gert-Jan Haverkamp, Voorzitter Evenementencommissie</li>
    <li>Michel Schaake, Voorzitter Kantinecommissie</li>
    <li>Bram de Kruijff, Voorzitter Publiciteitscommissie</li>
</ul>
<h2>{% trans "Board" %} 1996-1997</h2>
<ul>
    <li>Mariëlle Weert, Voorzitter</li>
    <li>Michael van de Ven, Secretaris</li>
    <li>Jeroen Houba, Penningmeester</li>
    <li>Emile ter Horst, Voorzitter Evenementencommissie</li>
    <li>Bram de Kruijf, Voorzitter Kantinecommissie</li>
    <li>Pieter van Engelen, Voorzitter Publiciteitscommissie</li>
</ul>
<h2>{% trans "Board" %} 1995-1996</h2>
<ul>
    <li>Edwin Hendriks, Voorzitter</li>
    <li>Michael van de Ven, Secretaris</li>
    <li>Jeroen Houba, Penningmeester</li>
    <li>Jan Sloots, Voorzitter Evenementencommissie</li>
    <li>Dave Walravens, Voorzitter Kantinecommissie</li>
    <li>Pieter van Engelen, Voorzitter Publiciteitscommissie</li>
</ul>
<h2>{% trans "Board" %} 1994-1995</h2>
<ul>
    <li>Rody Middelkoop, Voorzitter</li>
    <li>Servé Herman, Secretaris</li>
    <li>Jeroen Houba, Penningmeester</li>
    <li>Max Verbong, Voorzitter Evenementencommissie</li>
    <li>Niels Brouwers, Voorzitter Kantinecommissie</li>
    <li>Paul Lemmens, Voorzitter Publiciteitscommissie</li>
    <li>Peter Wouda, Commissielid BBC</li>
    <li>Michael van de Ven, Voorzitter TOEC</li>
</ul>
<h2>{% trans "Board" %} 1993-1994</h2>
<ul>
    <li>Mark Koenen, Voorzitter</li>
    <li>Servé Herman, Secretaris</li>
    <li>Rogier Schram, Penningmeester</li>
    <li>Erik van Esch, Voorzitter Evenementencommissie</li>
    <li>Eugene Zegers, Voorzitter Excursiecommissie</li>
    <li>Marco Pil, Voorzitter Kantinecommissie</li>
    <li>Rody Middelkoop, Voorzitter Publiciteitscommissie</li>
    <li>Theo Wiggerts, Voorzitter Boekencommissie FiFo</li>
    <li>Mariëlle Stoeling, Voorzitter TOEC</li>
</ul>
<h2>{% trans "Board" %} 1992-1993</h2>
<ul>
    <li>Jeroen Huinink, Voorzitter</li>
    <li>Peter Wouda, Secretaris</li>
    <li>Caspar Derksen, Penningmeester</li>
    <li>Walter de Hoon (vervanger: Serve Hermans), Voorzitter Evenementencommissie</li>
    <li>Patrick Reijnen, Voorzitter Excursiecommissie</li>
    <li>Marco Pil, Voorzitter Kantinecommissie</li>
    <li>Patrick Atoon, Voorzitter Publiciteitscommissie</li>
    <li>Marc Verspeek (vervanger: Theo Wiggerts), Voorzitter Boekencommissie FiFo</li>
    <li>Rene Schreurs (vervanger: Mariëlle Stoelinga), Voorzitter TOEC</li>
</ul>
<h2>{% trans "Board" %} 1991-1992</h2>
<ul>
    <li>Marc Verspeek, Voorzitter</li>
    <li>Jeroen Bongenaar, Secretaris, vervangend voorzitter Impulscommissie</li>
    <li>Mariëlle Stoelinga, Penningmeester</li>
    <li>Jeroen Huinink, Voorzitter Evenementencommissie</li>
    <li>Patrick Reijnen, Voorzitter Excursiecommissie</li>
    <li>Marco Pil, Voorzitter Kantinecommissie</li>
    <li>Hugo Elbers, Voorzitter Publiciteitscommissie</li>
    <li>Bart Putman, Voorzitter Boekencommissie FIFO</li>
</ul>
<h2>{% trans "Board" %} 1990-1991</h2>
<ul>
    <li>Patrick Reijnen, Voorzitter Algemeen Bestuur</li>
    <li>Richard de Beijer, Secretaris Algemeen Bestuur</li>
    <li>Erik Kohl, Penningmeester Algemeen Bestuur</li>
    <li>Jeroen Bongenaar, Voorzitter Publiciteitscommissie</li>
    <li>Leon Pillich, Voorzitter Evenementencommissie</li>
    <li>Charles Hendriks, Voorzitter Impulscommissie</li>
    <li>Chris Hendriks, Voorzitter Boekencommissie FIFO</li>
    <li>Louis van Hemmen, Voorzitter Kantinecommissie</li>
    <li>Daniël Rutte, Voorzitter Excursiecommissie</li>
</ul>
{% endblock %}