{% extends "base.html" %}
{% load i18n thumbnail static %}
{% block title %}{% trans 'Committees' %} — {{ block.super }}{% endblock %}

{% block body %}
<h1>{% trans 'committees'|capfirst %}</h1>

<div class="clearfix portfolio">
  <div id="committees">
    <ul class="row committees">
      {% for committee in committees %}
      <li class="post member-item span3 has-overlay">
        <a href="{{ committee.get_absolute_url }}">

          <div class="post-inner">
            <div class="inner-img">
              {% if committee.photo %}
              <img src="{% thumbnail committee.photo '220x220' fit=False %}" alt="Photo of {{ committee.name }}">
              {% else %}
              <img height="220" width="220" src="{% static 'activemembers/images/placeholder.png' %}">
              {% endif %}
            </div>

            <div class="post-overlay">
              <div class="post-overlay-meta">
                <h2>{{ committee.name }}</h2>
              </div>
            </div>

            <div class="post-body avatar-subtitle">
              {{ committee.name }}
            </div>
          </div>
        </a>
      </li>


      {% empty %}
      {% trans 'There are no committees!' %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
