{% extends "base.html" %}
{% load i18n thumbnail static activemembers_cards alert %}
{% block title %}{% trans 'committees'|capfirst %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans 'committees'|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
    <section id="activemembers-committees" class="page-section">
        <div class="container">
            <h1 class="section-title">
                {% trans 'committees'|capfirst %}
            </h1>

            <div class="row mt-4">
                {% for committee in committees %}
                    <div class="col-4 col-md-3 my-3">
                        {% membergroup_card committee %}
                    </div>
                {% empty %}
                    <div class="col-12">
                        {% trans 'There are no committees!' as no_committees %}
                        {% alert 'danger' no_committees %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
