{% extends "base.html" %}
{% load i18n static thumbnail %}
{% block title %}{{ committee.name }} — {% trans 'Committees' %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{{ committee.name }} — {% trans 'Committees' %} — {{ block.super }}{% endblock %}

{% block body %}
<h1>{{ committee.name }}
  <span class="title-meta clearfix">
    <span>
      <a class="back" href="{% url 'activemembers:committees' %}" id="collectionButton"></a>
    </span>
  </span>
</h1>
<div class="portfolio"></div>
<div class="clearfix portfolio">
  <div id="committee-div">
    <div class="row">
      {% if committee.photo %}
      <img alt="{% blocktrans with name=committee.name %}Photo of {{ name }}{% endblocktrans %}" class="span12" src="{% thumbnail committee.photo '1024x683' fit=False %}">
      {% else %}
      <img alt="{% blocktrans with name=committee.name %}Photo of {{ name }}{% endblocktrans %}" class="span12" src="{% static 'activemembers/images/placeholder.png' %}">
      {% endif %}
    </div>
    <div>
      <h1 class="midhead">{% blocktrans with name=committee.name %}About the {{ name }}{% endblocktrans %}</h1>
      <p class="text-center">{{ committee.description }}</p>
    </div>
    <div class="clearfix member-directory">
      <h1 class="midhead">{% trans 'Committee members' %}</h1>
      <ul class="row" id="commissieleden">
        {% for member in members %}
        <li class="post member-item span3 has-overlay">
          <a href="{{ member.get_absolute_url }}">
            <div class="post-inner">
              <div class="inner-img">
                {% if not member.photo %}
                <img alt="{{ member.display_name }}" src="{% static 'members/images/default-avatar.jpg' %}" height="220" width="220" />
                {% else %}
                <img alt="{{ member.display_name }}" src="{% thumbnail member.photo '220x220' %}" width="220" height="220" />
                {% endif %}
              </div>
              {% if member.chair %}
              <div class="ribbon-wrapper-basiskleur">
                <div class="ribbon-basiskleur">
                  {% trans "Chair" %}
                </div>
              </div>
              {% endif %}
              <div class="post-overlay">
                <div class="post-overlay-meta">
                  <h2>{{ member.display_name }}</h2>
                  <p>
                  {% if member.committee_since.year == 1970 %}
                  {% blocktrans %}Committee member since: ?{% endblocktrans %}
                  {% else %}
                  {% blocktrans with since=member.committee_since|date:"Y" %}Committee member since: {{ since }}{% endblocktrans %}
                  {% endif %}
                  </p>
                </div>
              </div>
              <div class="post-body avatar-subtitle">
                {{ member.display_name }}
              </div>
            </div>
          </a>
        </li>
        {% empty %}
        <li>{% trans "This committee doesn't have any members?" %}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
