{% extends "base.html" %}
{% load i18n static thumbnail bleach_tags activemembers_cards alert %}
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
    <section id="activemembers-membergroup" class="page-section">
        <div class="container">
            <h1 class="section-title">
                {{ membergroup.name }}
            </h1>

            <div class="row align-items-start">
                {% if membergroup.photo %}
                    <img alt="{{ membergroup.name }}" class="col-12"
                         src="{% thumbnail membergroup.photo "large" %}">
                {% else %}
                    <img alt="{{ membergroup.name }}" class="col-12"
                         src="/static/activemembers/images/placeholder.png">
                {% endif %}
            </div>
        </div>
    </section>

    {% if membergroup.description %}
    <section id="activemembers-membergroup-description" class="page-section">
        <div class="container">
            <h1 class="section-title">
                {% trans 'Description' %}
            </h1>

            <p>
                {{ membergroup.description|safe }}
            </p>
            {% if membergroup.committee or membergroup.society %}
            <p>
                    <strong>{% trans 'contact email address'|capfirst %}:</strong>
                <a href="mailto:{{ membergroup.contact_address }}">{{ membergroup.contact_address }}</a>
            </p>
            {% endif %}
        </div>
    </section>
    {% endif %}

	{% if membergroup.display_members or request.user.is_authenticated %}
		<section id="activemembers-membergroup-members" class="page-section">
			<div class="container">
				<h1 class="section-title">
					{% trans 'Members' %}
				</h1>

				<div class="row">
					{% for member in members %}
						<div class="col-4 col-md-3 my-3">
							{% membergroup_member_card member %}
						</div>
					{% empty %}
						{% trans "This group doesn't have any members?" as empty %}
						{% alert 'danger' empty extra_classes='col-10 offset-1' %}
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
