{% extends "base.html" %}
{% load i18n thumbnail static activemembers_cards %}
{% block title %}{% trans 'societies'|capfirst %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans 'societies'|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
    <section id="activemembers-committees" class="page-section">
        <div class="container">
            <h1 class="text-center section-title">
                {% trans 'societies'|capfirst %}
            </h1>

            <div class="row mt-4">
                {% for society in societies %}
                    <div class="col-4 col-md-3 my-3">
                        {% membergroup_card society %}
                    </div>
                {% empty %}
                    <div class="alert alert-danger col-10 offset-1">
                        {% trans 'There are no societies!' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
