{% extends "base.html" %}
{% load i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Logout" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Logout" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "Logout" %}</h1>

            <p>{% trans "You've been logged out successfully." %}</p>

            <p><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>
        </div>
    </section>
{% endblock %}
