{% extends "small_page.html" %}
{% load i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Logout" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Logout" %} — {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Logout" %}{% endblock %}

{% block page_content %}
    <p>{% trans "You've been logged out successfully." %}</p>
    <p><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>
{% endblock %}
