{% extends "small_page.html" %}
{% load i18n alert %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Login" %} — {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Log in" %}{% endblock %}

{% block page_content %}
    {% if next %}
        <p>
            {% if user.is_authenticated %}
                {% blocktrans trimmed %}
                    Your account does not have access to this page. To proceed, please log in with an
                    account that has access.
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed %}
                    Please log in to see this page.
                {% endblocktrans %}
            {% endif %}
        </p>
    {% endif %}

    {% if form.errors %}
        {% trans "Invalid username or password." as error_text %}
        {% alert 'danger' error_text dismissible=True %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <div class="form-row">
            <input name="{{ form.username.name }}" autofocus class="form-control"
                   placeholder="{% trans "Username" %}">
        </div>

        <div class="form-row">
            <input name="{{ form.password.name }}" class="form-control" type="password"
                   placeholder="{% trans "Password" %}">
        </div>

        <div class="form-row">
            <input type="submit" value="{% trans "Login" %}" class="btn btn-primary float-end">
            <a href="{% url 'password_reset' %}"
               class="forgot btn float-start btn-secondary">{% trans "Forgot password" %}</a>
        </div>
    </form>
{% endblock %}
