{% extends "base.html" %}
{% load i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block body %}

<h1>{% trans "Password change" %}</h1>

{% for error in form.errors.items %}
        {% for message in error.1 %}
            <div class="alert alert-error">
                {{ message }}
                <button type="button" class="close"><span class="alert-icon-close"></span></button>
            </div>
    {% endfor %}
{% endfor %}

<p class="text-center">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post" class="span6 offset3 form-horizontal">
    {% csrf_token %}

    <div class="control-group">
        <input name="{{ form.old_password.name }}" type="password" autofocus class="form-control" placeholder="{% trans "Old password" %}">
    </div>

    <div class="control-group">
        <input name="{{ form.new_password1.name }}" type="password" autofocus class="form-control" placeholder="{% trans "New password" %}">
        {% if form.new_password1.help_text %}
        <span class="help-block">{{ form.new_password1.help_text|safe }}</span>
        {% endif %}
    </div>

    <div class="control-group">
        <input name="{{ form.new_password2.name }}" type="password" autofocus class="form-control" placeholder="{% trans "Confirm new password" %}">
        {% if form.new_password2.help_text %}
        <span class="help-block">{{ form.new_password2.help_text|safe }}</span>
        {% endif %}
    </div>

    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary btn-style1 pull-right login" />

</form>

{% endblock %}