{% extends "base.html" %}
{% load i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Password change" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Password change" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="text-center section-title">{% trans "Password change" %}</h1>

            {% for error in form.errors.items %}
                {% for message in error.1 %}
                    <div class="alert alert-danger alert-dismissable">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

            <p class="text-center">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post" class="col-lg-6 offset-lg-3">
                {% csrf_token %}

                <div class="form-group">
                    <input name="{{ form.old_password.name }}" type="password" autofocus class="form-control"
                           placeholder="{% trans "Old password" %}">
                </div>

                <div class="form-group">
                    <input name="{{ form.new_password1.name }}" type="password" autofocus class="form-control"
                           placeholder="{% trans "New password" %}">
                    {% if form.new_password1.help_text %}
                        <p class="help-block">{{ form.new_password1.help_text|safe }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    <input name="{{ form.new_password2.name }}" type="password" autofocus class="form-control"
                           placeholder="{% trans "Confirm new password" %}">
                    {% if form.new_password2.help_text %}
                        <p class="help-block">{{ form.new_password2.help_text|safe }}</p>
                    {% endif %}
                </div>

                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary float-right"/>
            </form>
        </div>
    </section>
{% endblock %}
