{% extends "base.html" %}
{% load i18n %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Forgot password" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Forgot password" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "Forgot password" %}</h1>

            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
        </div>
    </section>
{% endblock %}
