{% extends "base.html" %}
{% load i18n alert %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Password change" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Password change" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title center-lg-50">{% trans "Password change" %}</h1>

            {% for error in form.errors.items %}
                {% for message in error.1 %}
                    {% alert 'danger' message dismissible=True %}
                {% endfor %}
            {% endfor %}
<div class="row">
            <p class="col-lg-6 offset-lg-3">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post" class="col-lg-6 offset-lg-3 mt-3">
                {% csrf_token %}

                <div class="form-group">
                    <input name="{{ form.old_password.name }}" type="password" autofocus class="form-control"
                           placeholder="{% trans "Old password" %}">
                </div>

                <div class="form-group">
                    <input name="{{ form.new_password1.name }}" type="password" autofocus class="form-control"
                           placeholder="{% trans "New password" %}">
                    {% if form.new_password1.help_text %}
                        <div class="help-block mt-4 mb-4">{{ form.new_password1.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <input name="{{ form.new_password2.name }}" type="password" autofocus class="form-control"
                           placeholder="{% trans "Confirm new password" %}">
                </div>

                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary float-right"/>
            </form>
        </div>
        </div>
    </section>
{% endblock %}
