{% extends "base.html" %}
{% load i18n alert %}

{% comment %}This page is automatically used by django.contrib.auth.views{% endcomment %}

{% block title %}{% trans "Forgot password" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Forgot password" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "Forgot password" %}</h1>

            {% if validlink %}

                {% for error in form.errors.items %}
                    {% for message in error.1 %}
                        {% alert 'error' message dismissible=True %}
                    {% endfor %}
                {% endfor %}

                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <div class="row">
                    <form method="post" class="col-lg-6 offset-lg-3">
                        {% csrf_token %}

                        <div class="form-row">
                            <input name="{{ form.new_password1.name }}" autofocus type="password" class="form-control"
                                   placeholder="{% trans "New password" %}">
                        </div>

                        <div class="form-row">
                            <input name="{{ form.new_password2.name }}" type="password" class="form-control"
                                   placeholder="{% trans "Confirm password" %}">
                        </div>

                        <input type="submit" value="{% trans 'Change my password' %}"
                               class="btn btn-primary float-end"/>
                    </form>
                </div>

            {% else %}
                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
