{% load staticfiles %}

{% if documents %}
<li class="post has-overlay">
    <div class="post-inner">
        <div class="post-header">
            <div class="document-thumb">
                <img src="{% static "documents/images/thumb.png" %}" />
                <span>{{ name | upper }} {{ year | stringformat:"d" | slice:"2:4" | upper }}-'{{ year | add:1 | stringformat:"d" | slice:"2:4" | upper }}</span>
            </div>
        </div>
        <div class="post-overlay">
            <div class="post-overlay-meta">
                <h2>{{ name }}</h2>
                {{ year }} - {{ year | add:1 }}
            </div>
            <ul class="post-overlay-icons">
                {% block icons %}{% endblock %}
            </ul>
        </div>
    </div>
</li>
{% else %}
<li class="post">
    <div class="post-inner unknowncontainer">
        <div class="post-header">
            ?
        </div>
        <div class="post-body">
            <h2>{{ name | upper }} '{{ year | stringformat:"d" | slice:"2:4" | upper }}-'{{ year | add:1 | stringformat:"d" | slice:"2:4" | upper }}</h2>
        </div>
    </div>
</li>
{% endif %}