{% load staticfiles %}

<li class="post has-overlay">
    <div class="post-inner">
        <div class="post-header">
            <div class="document-thumb">
                <img src="{% static "documents/images/thumb.png" %}" />
                <span>{{ document.name | upper }}</span>
            </div>
        </div>
        <div class="post-overlay">
            <div class="post-overlay-meta">
                <h2>{{ document.name }}</h2>
            </div>
            <ul class="post-overlay-icons">
                <li>
                    <span></span><a href="{% block "downloadlink" %}{% endblock %}" class="overlay-icon-link" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
</li>
