body {
    background-color: $background-color;
    color: $text-color;
    font-family: $primary-font;
    border-color: $background-shade;
}

table, tr {
    border-top-color: $background-shade;
    border-bottom-color: $background-shade;
    border-left-color: $background-shade;
    border-right-color: $background-shade;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: $regular;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $text-color;
}

td, th, input, textarea, select, .form-row p, form .button {
    font-family: $primary-font;
}

#changelist-filter ul {
    border-color: $card-background-hover !important;
}

#header {
    background-color: black;
    color: white;
    border-bottom: 5px solid $preset;
    margin-bottom: -5px;
}

#header a:focus, #header a:hover {
    color: $preset-hover;
    border-bottom-color: $preset-hover;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: $white;
}

div.breadcrumbs {
    background: $preset;
    color: $preset-contrast;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: $preset-contrast-hover;
}

.module {
    background: $card-background;
    color: $card-background-contrast;

    caption, h2, a.section:link, a.section:visited {
        background-color: $preset !important;
        color: $preset-contrast !important;
        font-family: $header-font;
        font-weight: $regular;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
    }
}

#changelist, #changelist #toolbar {
    background: $background-color !important;
}

#changelist .actions, #changelist .paginator, #changelist .actions label {
    background: $preset !important;
    color: $preset-contrast !important;
    font-family: $header-font !important;
    font-weight: $regular !important;
    letter-spacing: $letter-spacing !important;
    text-transform: uppercase !important;
    padding-left: 10px;
}

#changelist #toolbar, #changelist .paginator {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.inline-related fieldset {
    background-color: $card-background !important;
    border-top: 0;
    border-bottom: 0;
}

.inline-related h3 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    color: $card-background-contrast !important;
    background: $card-background-hover !important;
    font-family: $primary-font;
    text-transform: none;
}
.inline-group div.add-row, .inline-group .tabular tr.add-row td {
    border-bottom: 0 !important;
}

.form-row:last-child, tr:last-child td, tr:last-child th {
    border-bottom: 0 !important;
}

.form-row, td, th {
    border-color: $card-background-hover !important;
}

.submit-row {
    background: $card-background !important;
    color: $card-background-contrast !important;
    border: 0 !important;
    border-radius: 0 !important;
}

label, .help, p.help, form p.help, div.help, form div.help, div.help li {
    color: $form-text !important;
}

thead th {
    border-top: 0;
    background: $card-background !important;
    color: $card-background-contrast !important;
}

thead th a:link, thead th a:visited, thead th.required {
    color: $card-background-contrast !important;
}

thead th.sorted, table thead th .text a:focus, table thead th .text a:hover {
    background: $card-background-hover !important;
}

thead th.sortable:hover {
    background: $card-background-hover !important;
}

.change-list ul.toplinks .date-back a:focus,
.change-list ul.toplinks .date-back a:hover {
    color: $preset !important;
}

tr.alt, .inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    background: $card-background !important;
}

.row1, .row2, .row, #result_list tbody tr, .form-row {
    background: $background-color !important;
}

#changelist table tbody tr.selected {
    background-color: $background-shade !important;
}
#changelist .actions select {
    color: $form-text !important;
    background: $form-background !important;
    border: 1px $form-border solid !important;
    border-radius: 0 !important;
}



#content-related, #content-related .module, #changelist-filter {
    background-color: $card-background !important;
}

#content-related .module h2 {
    color: $preset-contrast !important;
    border-bottom: 0;

    a {
        color: $preset-contrast-hover !important;
    }

    a:hover {
        color: $preset-contrast-hover !important;
        text-decoration: underline !important;
    }
}
#content-related h3 {
    color: $card-background-contrast;

    a {
        color: $card-background-contrast !important;
    }

    a:hover {
        color: $card-background-hover-contrast !important;
    }

}

a:link, a:visited {
    color: $nav-link-color;
    font-weight: normal;
}

a:focus, a:hover {
    color: $preset-hover;
}

a.section:link, a.section:visited {
    color: $nav-link-color;
}

#changelist-filter a {
    color: $card-background-contrast !important;
}

#changelist-filter li.selected a {
    color: $preset !important;
}

#changelist-filter a:focus, #changelist-filter a:hover, #changelist-filter li.selected a:focus, #changelist-filter li.selected a:hover {
    color: $preset-hover !important;
}

.object-tools a {
    border-radius: 0 !important;
    font-family: $header-font;
    font-weight: $regular;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
}
.object-tools a:link, .object-tools a:visited {
    background-color: $preset;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: $preset-hover;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: $preset !important;
    color: $preset-contrast !important;
    border-radius: 0 !important;
    border: 0 !important;
    font-family: $header-font !important;
    font-weight: $regular !important;
    letter-spacing: $letter-spacing !important;
    text-transform: uppercase !important;
}

.button:hover, input[type=submit]:hover, input[type=button]:hover, .submit-row input:hover, a.button:hover {
    background-color: $preset-hover !important;
    color: $preset-contrast !important;
}


#changelist .actions .button {
    background-color: $secondary !important;
    color: $secondary-contrast !important;
}

#changelist .actions .button:hover {
    background-color: $secondary-contrast !important;
    color: $secondary !important;
}


#searchbar {
    margin-right: 0 !important;
    background-color: $form-background !important;
    color: $form-text !important;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background-color: $preset;
    color: $preset-contrast;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background-color: $preset-hover;
    color: $preset-contrast;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: $preset-hover;
    color: $preset-contrast;
}

.deletelink-box a {
    border-radius: 0 !important;
    font-family: $header-font;
    font-weight: $regular;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
}

#content-main .module {
    background-color: $background-color;

    table {
        background-color: $card-background;
    }
}

#result-list, .tablesorter {
    background-color: $background-color !important;
}


input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel], textarea, select, .vTextField {
    color: $form-text;
    background: $form-background;
    border: 1px $form-border solid !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    &:focus {
        border-color: $preset;
        box-shadow: none;
    }
}

.selector-available h2, .selector-filter, .selector-chosen h2 {
    border-color: $form-border !important;
    border-width: 1px !important;
    border-radius: 0 !important;
}

.selector-filter {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.calendar {
    background-color: $card-background !important;
    color: $card-background-contrast !important;
}

.calendar-shortcuts, .calendar-cancel, .calendar-cancel a {
    background-color: $card-background !important;
    color: $card-background-contrast !important;
    border: 0 !important;

    a:focus, a:hover {
        color: $preset-hover !important;
    }
}

.calendarbox .module, .calendarbox, .clockbox {
    border: 0 !important;
    border-radius: 0 !important;
}

.calendar td a:focus, .timelist a:focus, .calendar td a:hover, .timelist a:hover {
    background-color: $preset !important;
    color: $preset-contrast !important;
}

.calendar td.selected a {
    background-color: $preset !important;
    color: $preset-contrast !important;
}

.calendar td, .calendar td a  {
    border-color: $card-background-hover !important;
    background-color: $card-background !important;
    color: $card-background-contrast !important;
}

.calendar th {
    background: $card-background-hover !important;
    color: $card-background-contrast !important;
}
.date-icon {
    fill: $preset !important;
}

a.active.selector-chooseall:focus, a.active.selector-clearall:focus, a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
    color: $preset !important;
}






.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected],
.select2-container--admin-autocomplete .select2-results__option[aria-selected=true]{
    background-color: $preset !important;
    color: $preset-contrast !important;
}

.select2-results {
    background-color: $card-background !important;
    color: $card-background-contrast !important;
}

.select2-search, .select2-search--dropdown {
    background-color: $card-background-hover !important;
}

.select2-selection, .select2-selection--single, .select2-dropdown {
    color: $form-text !important;
    background: $form-background !important;
    border: 1px $form-border solid !important;
    border-radius: 0 !important;
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__rendered {
    color: $form-text !important;
}


#id_signature_canvas {
    background-color: white !important;
    border: 1px $form-border solid !important;
    border-radius: 0 !important;
}

#signature-img {
    background-color: white !important;
    fill: white !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
}

#changelist #toolbar form input[type="submit"], #changelist .actions .button {
    box-shadow: none !important;
}


.errornote, ul.errorlist {
    background-color: $danger;
    color: $warning-contrast;
    border-radius: 0;
}
