body {
    background-color: $background-color;
    color: $text-color;
    font-family: $primary-font;
    border-color: $background-shade;
}

table, tr {
    border-top-color: $background-shade;
    border-bottom-color: $background-shade;
    border-left-color: $background-shade;
    border-right-color: $background-shade;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: $regular;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $title-color;
}

#header {
    background-color: $black;
    color: $white;
    border-bottom: 5px solid $preset;
    margin-bottom: -5px;
}

#header a:focus, #header a:hover {
    color: $preset-hover;
    border-bottom-color: $preset-hover;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: $white;
}

div.breadcrumbs {
    background: $preset;
    color: $preset-contrast;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: $preset-contrast-hover;
}

.module {
    background: $card-background;
    color: $card-background-contrast;

    caption, h2, a.section:link, a.section:visited {
        background-color: $preset !important;
        color: $preset-contrast !important;
        font-family: $header-font;
        text-transform: uppercase;
    }
}

#changelist {
    background: $background-color;
}

#changelist .actions, #changelist .paginator, #changelist #toolbar, #changelist .actions label {
    background: $preset !important;
    color: $preset-contrast !important;
    font-family: $header-font !important;
    text-transform: uppercase !important;
}

#changelist #toolbar, #changelist .paginator {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.inline-related fieldset {
    background-color: $card-background !important;
    border-top: 0;
    border-bottom: 0;
}

.inline-related h3 {
    border-top: 0;
    border-bottom: 0;
    color: $card-background-hover-contrast !important;
    background: $card-background-hover !important;
}
.inline-group div.add-row, .inline-group .tabular tr.add-row td {
    border-bottom: 0 !important;
}

.form-row:last-child, tr:last-child td, tr:last-child th {
    border-bottom: 0 !important;
}

.form-row, td, th {
    border-color: $card-background-hover !important;
}

.submit-row {
    background: $card-background !important;
    color: $card-background-contrast !important;
    border: 0 !important;
    border-radius: 0 !important;
}

label {
    color: $text-color !important;
}

thead th {
    border-top: 0;
    background: $card-background;
    color: $card-background-contrast;
}

thead th a:link, thead th a:visited, thead th.required {
    color: $card-background-contrast;
}

thead th.sorted, table thead th .text a:focus, table thead th .text a:hover {
    background: $card-background-hover;
}

.change-list ul.toplinks .date-back a:focus,
.change-list ul.toplinks .date-back a:hover {
    color: $preset !important;
}


tr.alt, .inline-group div.add-row,
.inline-group .tabular tr.add-row td {
    background: $background-color !important;
}

.row1, .row2, .row, #result_list tbody tr {
    background: $background-color;
}

#changelist table tbody tr.selected {
    background-color: $background-shade !important;
}




#content-related, #content-related .module, #changelist-filter {
    background-color: $card-background !important;
}

#content-related .module h2 {
    color: $card-background-contrast;
}
#content-related h3 {
    color: $card-background-contrast;
}

a:link, a:visited {
    color: $nav-link-color;
    font-weight: normal;
}

a:focus, a:hover {
    color: $preset-hover;
}

a.section:link, a.section:visited {
    color: $nav-link-color;
}

#changelist-filter li.selected a {
    color: $preset !important;
}

#changelist-filter a:focus, #changelist-filter a:hover, #changelist-filter li.selected a:focus, #changelist-filter li.selected a:hover {
    color: $preset-hover !important;
}

.object-tools a:link, .object-tools a:visited {
    background-color: $preset;
}

.object-tools a:focus, .object-tools a:hover {
    background-color: $preset-hover;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: $preset;
    color: $preset-contrast;
    border-radius: 0;
    font-family: $header-font;
    text-transform: uppercase;
}
.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: $preset-hover;
    color: $preset-contrast-hover;
}

#content-main .module {
    background-color: $background-color;

    table {
        background-color: $card-background !important;
    }
}
