{% extends "base.html" %}

{% load static i18n fieldtype form_field %}

{% block title %}{% trans "change email"|capfirst %} — {% trans "members"|capfirst %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "change email"|capfirst %} — {% trans "members"|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
<h1>{% trans "change email"|capfirst %}</h1>

<form method="post" enctype="multipart/form-data" class="form-horizontal span8 offset2">
    {% csrf_token %}

    <div class="control-group row {% if form.email.errors %}error{% endif %}">
      <label class="control-label" for="id_{{ form.email.name }}">{{ form.email.label }}:</label>
        <div class="controls">
            {{ form.email }}

            {% for error in form.email.errors %}
                <span class="help-block">{{ error|escape }}</span>
            {% endfor %}

            {% if field.help_text %}
            <span class="help-block">{{ form.email.help_text|safe }}</span>
            {% endif %}
        </div>
    </div>


    <input type="submit" value="{% trans 'change'|capfirst %}" class="btn btn-style1 pull-right login" />
</form>
{% endblock %}
