{% extends "base.html" %}
{% load i18n static compress %}

{% block title %}{% trans "Statistics" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Statistics" %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section" id="members-statistics" data-statistics="{{ statistics }}">
        <div class="container">
            <h1 class="text-center section-title">{% trans "Statistics" %}</h1>

            <h2 class="text-center mb-4">{% trans "Total amount of Thalia members" %}: {{ total_members }}</h2>

            <div class="row">
                <div class="col-sm-6 col-lg-4" id="membersTypeChart"></div>
                <div class="col-sm-6 col-lg-4" id="totalYearChart"></div>
                <div class="col-sm-6 col-lg-4" id="membersYearChart"></div>
                <div class="col-sm-6 col-lg-4" id="benefactorsYearChart"></div>
                <div class="col-sm-6 col-lg-4" id="pizzaTotalTypeChart"></div>
                {% if current_pizza_orders != 'null' %} {# None is json-serialized to 'null' #}
                    <div class="col-sm-6 col-lg-4" id="pizzaCurrentTypeChart"></div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block js_body %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{% static 'members/js/highcharts.js' %}"></script>
        <script type="text/javascript" src="{% static 'members/js/statistics.js' %}"></script>
    {% endcompress %}
{% endblock %}
