{% extends "small_page.html" %}
{% load static i18n %}

{% block title %}{{ link.slug|title }} redirect — {{ block.super }}{% endblock %}
{% block opengraph_title %}{{ link.slug|title }} redirect — {{ block.super }}{% endblock %}

{% block page_title %}
    {% trans "Redirection" %}
{% endblock %}

{% block page_content %}
    <p>This is a redirection page to a non-Thalia site.</p>
    <p>Click this link to be redirected:
        <a href="{{ link.url }}" rel="noopener noreferrer nofollow" target="_blank" >{{ link.url }}</a>
    </p>
{% endblock %}
