{% extends 'small_page.html' %}
{% load i18n payments %}

{% block page_title %}{% trans "Pay for order" %}{% endblock %}

{% block page_content %}
    <p>
        {{ order.order_description }}
    </p>
    <div class="mt-4">
        {% url 'index' as next %}
        {% payment_button order next %}
    </div>
{% endblock %}

{% block js_body %}
    {{ block.super }}
    <script type="text/javascript">
        window.onload=function() {
            if (!document.getElementById("tpay-submit-button").disabled) {
                document.forms['tpay-payment-form'].submit();
            }
        }
    </script>
{% endblock %}
