{% extends 'base.html' %}
{% load i18n payments %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "Pay for order" %}</h1>
            {{ order.order_description }}
            <div class="mt-4">
                {% url 'index' as next %}
                {% payment_button order next %}
            </div>
        </div>
    </section>
{% endblock %}

{% block js_body %}
    {{ block.super }}
    <script type="text/javascript">
        window.onload=function() {
            if (!document.getElementById("tpay-submit-button").disabled) {
                document.forms['tpay-payment-form'].submit();
            }
        }
    </script>
{% endblock %}
