.unknowncontainer .post-header {
    text-align:center;
    height:176px; /* 176 - padding */
    width:220px;
    font-size:64px;
    line-height: 176px;
    cursor:default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unknowncontainer {
    background:none !important;
    border:2px dashed #9C9C9C;
    color:#9C9C9C;
}

.policywrapper {
    overflow-x:hidden;
    padding-top:20px;
}

.slider-control-prev,
.slider-control-next {
    cursor:pointer;
}

.slider-control-prev {
    display:none;
}

ul {
    margin-bottom:0px !important;
}
