{% extends "admin/change_form.html" %}
{% load i18n admin_urls static sass_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% sass_src 'admin/registrations/css/forms.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/registrations/js/registrations.js' %}"></script>
{% endblock %}

{% block submit_buttons_bottom %}
    {% if can_resend or can_review or can_revert %}
    <div class="submit-row registrations-row">
        {% if can_resend %}
            <a data-href="{% url 'registrations:admin-process' pk=entry.pk %}" class="button" data-action="resend">{% trans "Resend confirmation email" %}</a>
        {% endif %}
        {% if can_revert %}
            <a data-href="{% url 'registrations:admin-process' pk=entry.pk %}" class="button" data-action="revert">{% trans "Revert review" %}</a>
        {% endif %}
        {% if can_review %}
            <a data-href="{% url 'registrations:admin-process' pk=entry.pk %}" class="button accept" data-action="accept">{% trans "Accept" %}</a>
            <a data-href="{% url 'registrations:admin-process' pk=entry.pk %}" class="button reject" data-action="reject">{% trans "Reject" %}</a>
        {% endif %}
    </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
