[run]
branch = True
omit =
    */migrations/*
    */tests.py
    */tests_*
    */tests/*
    */urls.py
    */settings/*
    */wsgi.py
    manage.py
source = .

[report]
precision = 2
skip_covered = True
show_missing = True
fail_under = 60
