{% load django_bootstrap5 i18n static menu compress pick_header_image %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}
        {% trans "Study Association Thalia" %}{% endblock %}</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#E62272"/>
    {% if debug %}
        <link rel="icon" href="{% static "img/browser/icon-debug.png" %}">
    {% else %}
        <link rel="icon" href="{% static "img/browser/icon.png" %}">
    {% endif %}
    <link rel="apple-touch-icon" href="{% static "img/browser/icon.png" %}">
    <meta name="msapplication-square70x70logo"
          content="{% static "img/browser/icon-smalltile.png" %}">
    <meta name="msapplication-square150x150logo"
          content="{% static "img/browser/icon-mediumtile.png" %}">
    <meta name="msapplication-wide310x150logo"
          content="{% static "img/browser/icon-widetile.png" %}">
    <meta name="msapplication-square310x310logo"
          content="{% static "img/browser/icon-largetile.png" %}">

    <meta property="og:image"
          content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static "img/browser/icon-largetile.png" %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="{% block opengraph_title %}{% trans 'Study Association Thalia' %}{% endblock %}"/>
    {% block opengraph %}{% endblock %}

    {% block css_head %}
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        {% compress css %}
            <link href="{% static "css/main.scss" %}" rel="stylesheet" type="text/x-scss">
        {% endcompress %}
    {% endblock %}

    {% block js_head %}
    {% endblock %}

    <!-- served by: {{ SOURCE_COMMIT }} -->
</head>
<body class="{% block body_class %}{% endblock %}">

<section id="announcements-alerts">
    {% if request.member and request.member.current_membership is None %}
        <div class="announcement">
            <i class="fas fa-id-card"></i>
            <p>
                <a href="{% url 'registrations:renew' %}">
                    {% trans "You're currently not a member of Thalia. Renew your membership to get access to all parts of the website." %}
                </a>
            </p>
        </div>
    {% elif request.member and request.member.profile.event_permissions != "all" %}
        <div class="announcement">
            <p>
                {% blocktrans trimmed %}
                You're currently not allowed to go to certain events. Please contact Thalia's
                <a href="mailto:treasurer@thalia.nu">treasurer</a> for more information.
                {% endblocktrans %}
            </p>
        </div>
    {% endif %}
    {% include "announcements/announcement.html" with announcements=announcements %}
</section>

<div id="accentbar"></div>

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <picture>
                <source srcset="{% static 'img/logo-dark.svg' %}" media="(prefers-color-scheme: dark)">
                <source srcset="{% static 'img/logo.svg' %}" media="(prefers-color-scheme: light)">
                <img
                    src="{% static 'img/logo.svg' %}"
                    id="logo"
                    alt="{% trans 'Study Association Thalia' %}"
                    height="220px"
                >
            </picture>
        </a>
        <div class="flex-grow-1"></div>
        <div class="navbar-user order-1 d-flex">
            <div class="btn-group dropdown">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn btn-primary"><i
                        class="fas fa-user"></i></a>
                {% else %}
                    <button type="button"
                            class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-haspopup="true" id="user-menu-dropdown-button"
                            aria-expanded="false">
                        <i class="fas fa-user pe-2"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="user-menu-dropdown-button">
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'members:profile' %}">
                                    {% trans "show public profile"|capfirst %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'members:edit-profile' %}">
                                    {% trans "edit profile"|capfirst %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'oauth2_provider:authorized-token-list' %}">
                                    {% trans "authorised applications"|capfirst %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'password_change' %}">
                                    {% trans "change password"|capfirst %}
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'registrations:renew' %}">
                                    {% trans "manage membership"|capfirst %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'payments:bankaccount-list' %}">
                                    {% trans "manage bank account(s)"|capfirst %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'payments:payment-list' %}">
                                    {% trans "view payments"|capfirst %}
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'admin:index' %}">
                                    {% trans "Site administration" %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'logout' %}">
                                    {% trans "Logout" %}
                                </a>
                            </li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <button class="navbar-toggler order-1 justify-content-end"
                type="button" data-bs-toggle="collapse" id="navbarCollapseButton"
                data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i>
        </button>
        <div
            class="collapse navbar-collapse justify-content-end pe-lg-4 order-lg-0 order-2"
            id="navbarCollapse" aria-labelledby="navbarCollapseButton">
            {% render_main_menu %}
        </div>
    </div>
    </div>
</nav>

<header id="page-header">
    {% block header_image_container %}
        <img src="

            {% block header_image %}{% pick_header_image %}{% endblock header_image %}"
             class="image"/>
    {% endblock header_image_container %}
</header>

{% block pre-body %}{% endblock pre-body %}

<div id="page-content" class="clearfix">
    {% block body %}{% endblock body %}
</div>

{% block post-body %}{% endblock post-body %}

<footer>
    <div
        class="container d-flex justify-content-md-between align-items-center flex-md-row flex-column">
        <div class="copyright">
            <strong>Copyright {% now "Y" %} {% trans 'Study Association Thalia' %}</strong>
            <span class="divider">&#9679;</span>
            <a href="{% url 'singlepages:privacy-policy' %}">{% trans "privacy policy"|capfirst %}</a>
            <span class="divider">&#9679;</span>
            <a href="{% url 'singlepages:responsible-disclosure' %}">{% trans "responsible disclosure policy"|capfirst %}</a>
        </div>
        <div class="social float-end">
            <a target="_blank" rel="noopener" href="https://www.facebook.com/svThalia">
                <i class="fab fa-facebook"></i>
            </a>
            <a target="_blank" rel="noopener" href="https://twitter.com/svThalia">
                <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" rel="noopener" href="https://www.instagram.com/thalia_nijmegen/">
                <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" rel="noopener" href="http://www.linkedin.com/groups?gid=54887">
                <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" rel="noopener" href="https://github.com/svthalia/">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</footer>

{% block js_body %}
    <script type="text/javascript"
            src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript"
            src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/js.cookie.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery.fancybox.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/main.js" %}"></script>
    <script type="text/javascript"
            src="{% static "announcements/js/announcements.js" %}"></script>
{% endblock %}
</body>
</html>
