{% extends 'base.html' %}
{% load i18n frontpage_events frontpage_articles partner_banners slider %}

{% block body_class %}home{% endblock %}

{% block header_image_container %}
    {% render_slider %}
{% endblock header_image_container %}

{% block pre-body %}
    {% render_partner_banners %}
{% endblock %}

{% block body %}
    <section id="thaliawebsite-frontpage" class="page-section">
        <div class="container">
            <h1 class="text-center section-title">{% trans "Study Association Thalia" %}</h1>
            <p class="text-center">{% blocktrans %}Thalia is the study association for the Computing Science and Information Sciences students at Radboud University in Nijmegen. Thalia provides you the necessary distractions during your studies. And via Thalia students can easily connect with teachers and students from other years.{% endblocktrans %}</p>
        </div>
    </section>

    {% render_frontpage_articles %}
    {% render_frontpage_events %}
{% endblock %}
