{% extends "base.html" %}
{% load static i18n %}

{% block title %}Shortlink for {{ link_key }} — {{ block.super }}{% endblock %}
{% block opengraph_title %}Shortlink for {{ link_key }} — {{ block.super }}{% endblock %}

{% block body %}

    <div class="container">
        <p class="text-center mt-5">This is a redirection page to a non-Thalia site.</p>

        <p class="text-center">Click this link to be redirected:
            <a href="{{ link_url }}" rel="noopener noreferrer nofollow" target="_blank" >{{ link_url }}</a>
        </p>
    </div>

{% endblock %}
