{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
    <section class="page-section {% block extra_section_classes %}{% endblock %}" {% block section_tags %}{% endblock %}>
        <div class="container">
            <h1 class="section-title">{% block page_title %}{% endblock %}</h1>
            {% bootstrap_messages %}
            {% if form.errors %}
                {% bootstrap_form_errors form %}
            {% endif %}
            <div class="col-12">
                {% block page_content %}{% endblock %}
                {% block pages %}{% endblock pages %}
            </div>
        </div>
    </section>
{% endblock %}
