$preset-name: "ThImbus Blue";
$preset-icon: concrete-icon(#01adf2, #fff, #01adf2);

$background-color: #fff;
$primary-color: #01adf2;
$inverted-color: #000000;
$lavalamp-color: #fff;
$faded-color: #fff;
$dark-primary-color: #01adf2;
$body-color: #313131;

$logo-image: '../images/site_logo.png';
