$preset-name: "ThImbus Defaults";
$preset-icon: concrete-icon(#E62272, #FFFFFF, #D8206B);

$background-color: #FFFFFF;
$primary-color: #E62272;
$inverted-color: #000000;
$lavalamp-color: rgba(230, 35, 113, 0.68);
$faded-color: #EEEDE7;
$dark-primary-color: #D8206B;
$body-color: #313131;
