$preset-name: "ThImbus Orange";
$preset-icon: concrete-icon(#efb700, #e7e9e2, #efb700);

$background-color: #e7e9e2;
$primary-color: #efb700;
$inverted-color: #000000;
$lavalamp-color: #e7e9e2;
$faded-color: #e7e9e2;
$dark-primary-color: #efb700;
$body-color: #313131;

$logo-image: '../images/site_logo.png';

/* Orange also included a background image, which isn't currently included in the preset.
 * $background-image: '../../images/pattern/pattern_orange.png'; */
