{% extends "small_page.html" %}
{% load i18n %}

{% block title %}{% trans "confirm email address"|capfirst %} - {% trans "registration"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block page_title %}{% trans "registration" %}{% endblock %}

{% block page_content %}
    <p>
        {% blocktrans trimmed %}
            Your email address has been confirmed.
            We'll review your membership registration as soon as possible.
            Please send us an email (info@thalia.nu) if you have any questions.
        {% endblocktrans %}
    </p>
{% endblock %}
