{% extends "simple_page.html" %}
{% load i18n django_bootstrap5 alert static payments %}

{% block title %}{% trans "renewal"|capfirst %} — {{ block.super }}{% endblock %}

{% block js_body %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'registrations/js/main.js' %}"></script>
{% endblock %}



{% block page_title %}{% trans "renewal" %}{% endblock %}

{% block page_content %}
    {% csrf_token %}
    <form method="post" class="col-12">
        {% csrf_token %}
        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary float-end"/>
    </form>
{% endblock %}
