{% extends "base.html" %}
{% load i18n bootstrap4 alert %}

{% block title %}{% trans "reference"|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">{% trans "give reference" %}</h1>

            <p>
                {% blocktrans trimmed %}
                    It is still possible to be associated with Thalia, even if you do not study Computing
                    Science or Information Sciences (anymore): You can become a benefactor.
                    If you are not a former Thalia member, iCIS staff member or alumni,
                    you must collect two references of current Thalia members.
                    <br /><br />
                    <strong>{{ name }}</strong> wants to become a benefactor of Thalia and
                    needs such a reference and has asked you to give it to them.
                {% endblocktrans %}
            </p>

            <hr/>

            {% if form.errors %}
                {% trans "You've already given a reference for this person." as alert_text %}
                {% alert 'danger' alert_text extra_classes="mt-3" %}
            {% else %}
            <form method="post" class="">
                {% csrf_token %}

                <input type="submit"
                       value="{% trans 'give reference'|capfirst %}"
                       class="btn btn-primary col-12"/>
            </form>
            {% endif %}
        </div>
    </section>
{% endblock %}
