{% extends "base.html" %}
{% load i18n static compress bootstrap4 %}

{% block title %}{% trans "registration"|capfirst %} —
    {{ block.super }}{% endblock %}

{% block body %}
    <section class="page-section" id="registrations-form">
        <div class="container">
            <h1 class="text-center section-title">{% trans "registration" %} {% trans "Benefactor" %}</h1>

            <p class="text-center">
                {% blocktrans trimmed %}
                    It is still possible to be associated with Thalia, even if you do not study Computing
                    Science or Information Sciences (anymore): You can become a benefactor. For at least €
                    {{ year_fees }} per year, you too can enjoy everything Thalia has to offer.
                    If you are not a former Thalia member, iCIS staff member or alumni, you must collect two references of current Thalia members.
                {% endblocktrans %}
            </p>

            <p class="text-center">
                {% blocktrans trimmed %}
                    If you've been a member before you should login using your existing account and renew your
                    membership by visiting the account settings.
                    You'll be unable to re-register using this form.
                {% endblocktrans %}
            </p>

            <p class="text-center">
                {% blocktrans trimmed %}
                    If you have any other questions about Thalia and/or your membership, feel free to email
                    <a href="mailto:info@thalia.nu" rel="noopener" target="_blank">info@thalia.nu</a>!
                {% endblocktrans %}
            </p>

            <hr/>

            <form method="post" enctype="multipart/form-data" class="row">
                {% csrf_token %}

                <fieldset class="col-12 col-lg-6">
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.last_name %}

                    {% bootstrap_field form.address_street %}
                    {% bootstrap_field form.address_street2 %}
                    {% bootstrap_field form.address_postal_code %}
                    {% bootstrap_field form.address_city %}
                    {% bootstrap_field form.address_country %}
                </fieldset>

                <fieldset class="col-12 col-lg-6">
                    {% bootstrap_field form.email %}

                    <div class="form-group">
                        <div class="form-check">
                            <input name="optin_mailinglist" class="form-check-input" id="id_optin_mailinglist"
                                   type="checkbox">
                            <label class="form-check-label"
                                   for="id_optin_mailinglist">{% trans "Receive emails about (amongst others) job opportunities and in-house days from partners of Thalia." %}</label>
                        </div>
                    </div>

                    {% bootstrap_field form.phone_number %}

                    {% bootstrap_field form.birthday %}

                    <div class="form-group">
                        <div class="form-check">
                            <input name="optin_birthday"
                                   class="form-check-input"
                                   id="id_optin_birthday"
                                   type="checkbox">
                            <label class="form-check-label"
                                   for="id_optin_birthday">{% trans "Display birthday in calendar" %}</label>
                        </div>
                    </div>

                    {% bootstrap_field form.student_number %}
                    {% bootstrap_field form.icis_employee %}
                    {% bootstrap_field form.contribution %}
                    {% bootstrap_field form.privacy_policy %}
                </fieldset>

                <input type="submit" value="{% trans 'send'|capfirst %}" class="btn btn-primary col-6 offset-3 col-lg-2 offset-lg-10"/>
            </form>
        </div>
    </section>
{% endblock %}
