{% extends "old-base.html" %}
{% load i18n %}

{% block title %}{% trans "registration success"|capfirst %} - {% trans "registration"|capfirst %} — {{ block.super }}{% endblock %}

{% block body %}
    <h1>{% trans "registration" %}</h1>
    <p class="tcenter">
    {% blocktrans %}
        Thank you!
        Before we can review your membership registration we need confirmation that the email address you entered during the registration process is valid.
        Please check your mailbox for the confirmation email.
    {% endblocktrans %}
    </p>
{% endblock %}
