{% extends 'simple_page.html' %}
{% load static i18n sass_tags photos_cards pick_header_image %}

{% block title %}{{ album.title }} — {% trans "Photos" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{{ album.title }} — {% trans "Photos" %} — {{ block.super }}{% endblock %}

{% block header_image %}{% pick_header_image type='fun' %}{% endblock header_image %}

{% block page_title %}
    {{ album.title }}
    <span class="first-right">{{ album.date|date:"d-m-Y" }}</span>
    {% if album.event %}
        <a href="{{ album.event.get_absolute_url }}"
           class="btn btn-primary"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           title=""
           data-original-title="{% trans "Event" %}">
            <i class="fas fa-calendar"></i>
        </a>
    {% endif %}
{% endblock %}
{% block section_tags %}id="photos-album"{% endblock %}

{% block page_content %}
    {% if album.shareable %}
        <p>
            {% trans "Note: This album can be shared with people outside the association by sending them the following link:" %}<br>
            <small><a href="{% url 'photos:shared-album' album.slug album.access_token %}">
                {{ request.get_host }}{% url 'photos:shared-album' album.slug album.access_token %}
            </a></small>
        </p>
    {% endif %}
    <div class="row">
        {% for photo in photos %}
            <div class="col-4 col-md-3 my-3">
                {% photo_card photo %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block css_head %}
    {{ block.super }}
    <link href="{% sass_src "photos/css/style.scss" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/fancybox.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js_body %}
    {{ block.super }}
    <script src="{% static "js/fancybox.umd.js" %}"></script>
    <script type="text/javascript" src="{% static "photos/js/main.js" %}"></script>
{% endblock %}
