{% extends 'simple_page.html' %}
{% load static i18n compress photos_cards alert %}

{% block title %}{% trans "Photos you liked" %} — {{ block.super }}{% endblock %}
{% block opengraph_title %}{% trans "Photos you liked" %} — {{ block.super }}{% endblock %}

{% block header_image %}{% static "img/headers/fixed/banner7.jpg" %}{% endblock %}

{% block page_title %}
    {% trans "Photos you liked" %}
{% endblock %}

{% block page_content %}
    <div class="row">
        {% if not photos %}
        <div class="mt-4">
                {% trans "You haven't liked any photos yet" as info_text %}
                {% alert 'info' info_text dismissible=False %}
            </div>
        {% else %}
            {% for photo in photos|dictsortreversed:"album.date" %}
                {% ifchanged photo.album %}
                    <h2 class="mt-3">
                        {{ photo.album.title }} (<span class="">{{ photo.album.date|date:"d-m-Y" }}</span>)
                        <a href="{{ photo.album.get_absolute_url }}"
                           class="btn btn-primary float-end"
                           data-bs-toggle="tooltip"
                           data-bs-placement="baseline"
                           title=""
                           data-original-title="{% trans "Album" %}">
                            {% trans "Go to full album" %}
                        </a>
                    </h2>
                {% endifchanged %}
                <div class="col-4 col-md-3 my-3">
                    {% liked_photo_card photo %}
                </div>
            {% endfor %}

            <nav>
                <ul class="pagination mt-4">
                    {% if photos.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                            href="{% url 'photos:liked-photos' %}?page={{ photos.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for page in page_range %}
                        <li class="page-item{% if page == photos.number %} active{% endif %}">
                            <a class="page-link" href="{% url 'photos:liked-photos' %}?page={{ page }}">{{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if photos.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                            href="{% url 'photos:liked-photos' %}?page={{ photos.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}

{% block css_head %}
    {{ block.super }}
    {% compress css %}
        <link href="{% static "photos/css/style.scss" %}" rel="stylesheet" type="text/x-scss">
    {% endcompress %}
    <link href="{% static "css/fancybox.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js_body %}
    {{ block.super }}
    <script src="{% static "js/fancybox.umd.js" %}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static "photos/js/main.js" %}"></script>
    {% endcompress %}
{% endblock %}
