#announcements-alerts {
    .announcement {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--primary);
        color: var(--primary-contrast);
        text-align: center;
        padding: 0.5rem 1rem;

        .btn-close {
            color: var(--primary-contrast);
        }

        p {
            display: inline;
            margin: 0;
            color: var(--primary-contrast);
            font-size: 0.9rem;
            font-weight: $bold;
        }

        a {
            color: var(--primary-contrast);
            text-decoration: underline;
        }

        a:hover {
            color: var(--primary-contrast-hover);
        }

        button {
            background-size: .6rem;
        }
    }
}

#announcements-slider {
    .carousel-indicators {
        opacity: 0;
        transition: all 300ms ease-in-out 0s;
        -moz-transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 7%;
        font-size: 1.5rem;
        opacity: 0;
        transition: all 300ms ease-in-out 0s;
        -moz-transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s;
    }

    &:hover {
        .carousel-control-next, .carousel-control-prev {
            opacity: 0.5;
            &:hover {
                opacity: .9;
            }
        }
        .carousel-indicators {
            opacity: 1;
        }
    }
}
