#announcements-alerts {
  .announcement {
    background: $preset;
    color: $white;
    text-align: center;
    padding: 0.5rem 1rem;
    position: relative;

    .close {
      color: $white;
    }

    p {
      display: inline;
      margin-left: 0.5rem;
      color: $white;
      font-size: 0.9rem;
      font-weight: $bold;
    }

    a {
      color: $white;
      text-decoration: underline;
    }

    a:hover {
      color: $light-grey;
    }

    button {
      line-height: 0.8;
      i {
        font-size: 1rem;
      }
    }
  }
}
