.announcement {
    background: #E62272;
    color: #FFFFFF;
    font-weight: bold;
    text-align:center;
    padding: 10px;
    position: relative;

    .close {
        color: #FFFFFF;
    }

    p {
        display: inline;
        margin-left: 5px;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    a:hover {
        color: #F0F0EE;
        text-decoration: underline;
        cursor: pointer;
    }
}
