---

name: PR Comment

on:
  pull_request:
    types: [opened]

jobs:
  comment:
    name: Comment on new PR
    runs-on: ubuntu-18.04
    steps:
      - name: Create URL safe version of GITHUB_REF
        run: echo "GITHUB_REF_SLUG=$(echo '${{ github.event.pull_request.head.ref }}' | iconv -t ascii//TRANSLIT | sed -E 's/[^a-zA-Z0-9]+/-/g' | sed -E 's/^-+|-+$//g' | tr A-Z a-z)" >> "${GITHUB_ENV}"

      - name: Add comment to PR with useful information
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.number }}
          body: |
            Thank you for opening a pull request.
            * A coverage report will be available on [thalia-coverage.s3.amazonaws.com/${{ env.GITHUB_REF_SLUG }}/index.html](https://thalia-coverage.s3.amazonaws.com/${{ env.GITHUB_REF_SLUG }}/index.html) after the "Deploy Coverage Report" job finishes.
            * Branch specific documentation will be available on [thalia-documentation.s3.amazonaws.com/${{ env.GITHUB_REF_SLUG }}/index.html](https://thalia-documentation.s3.amazonaws.com/${{ env.GITHUB_REF_SLUG }}/index.html) after the "Deploy Documentation" job finishes.
