{% extends "email/html_email.html" %}

{% block content %}
  Dear {{ first_name }},<br>

  <p>There has been a verdict on your reimbursement request with the following description:<br>
    <blockquote>{{ description }}</blockquote></p>

  <p>The request was {{ verdict }}.</p>
  {% if not verdict_clarification %}
    <p>No clarification was given.</p>
  {% else %}
    <p>The following clarification was given:<br>
        <blockquote>{{ verdict_clarification }}</blockquote></p>
  {% endif %}

  For questions, please reach out to the treasurer at treasurer@thalia.nu.
{% endblock %}
